#realcatcontent{
    padding-top: 50px;
}

.categoryViewHcCls{
    padding: {
        top: 50px;
        bottom: 50px;
    }
}

.seeMoreCls{
    display: block;
    float: right;
    margin-right: 50px;
}

.vc_column_container{
    float: left;
    padding: {
        top: 15px;
    }
        .productNameImg{
            img{
                max-width: 100%;
            }
            
        }
}

.download-list
{

    li {
        font-weight: 400;
        font-size: 15px;
        color: #4b4d4d;
        list-style-type: none;
        padding: 0 10px 25px 5px;
        display: inline-block;
        width: 48%;
        vertical-align: top;
        text-align: center;
    }
}

.see-more-cls{
    i{
        padding-left:10px;
}
}