#realcatcontent{
    padding-top: 50px;
}

// .categoryViewHcCls{
  
// }

.categoryBodyHc{
    padding: {
        top: 20px;
        bottom: 30px;
    }
background-color: #f7f7f7;    
}

.seeMoreCls{
    display: block;
    float: right;
    margin-right: 50px;
}

.vc_column_container{
    float: left;
    padding: {
        top: 15px;
    }
        .productNameImg{
            img{
                max-width: 100%;
            }
            
        }
}

.download-list
{

    li {
        font-weight: 400;
        font-size: 15px;
        color: #4b4d4d;
        list-style-type: none;
        padding: 0 10px 25px 5px;
        display: inline-block;
        width: 48%;
        vertical-align: top;
        text-align: center;
    }
}

.see-more-cls{
    i{
        padding-left:10px;
}
}

.download-list li a {
    color: #4b4d4d !important;
    font-weight: 600;
}

ul.download-list {
    padding: 0;
    margin: 0;
}

.dwldlgimg {  padding: 30px 15px;text-align:center;vertical-align: middle; font-size:22px; color:#333333 !important }

.dwldlgimg { 
	 
	padding: 30px 15px;
	text-align:center;
	vertical-align: middle; 
	font-size:22px;    
	color:#fff; 
	border-bottom: 2px solid #fa6400;
	font-family: 'Montserrat-Regular' !important; 
	letter-spacing: 0.87px; 
	font-weight:500; 
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-text-stroke:1px transparent; 
}