#realcatcontent{
    padding-top: 50px;
}

.categoryViewHcCls{
    padding: {
        top: 50px;
        bottom: 50px;
    }
}

.seeMoreCls{
    display: block;
    float: right;
    margin-right: 50px;
}

.vc_column_container{
    float: left;
    padding: {
        top: 15px;
    }
        .productNameImg{
            img{
                max-width: 100%;
            }
            
        }
}
