<header>
  <app-helpcenter-header></app-helpcenter-header>


  <div class="main-search-div">
    <div class="downbanbg">
        <div class="height50"></div>
      <div class="row unqipad">
        <div class="  search-header-div col-md-12">
          <div class="col-md-9 col-xs-13">
            <div class="hlputextleft">Search Results</div>
            <div class="hgt20">&nbsp;</div>
            <form [formGroup]="search_hc_form" (ngSubmit)='searchText()'>
              <img class="searchhmicon hmsrchicon" src="assets/images/searchicon.png" />
              <input formControlName = 'searchString'  type="text" class="hmsearchbox" name="query" placeholder="Search" />
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<ng-container  *ngIf='searchStatus == "searching"' >
    <div class="component-not-found">
      <h1>Searching Articles for  '{{currentSearchString}}'</h1>
    </div>
  </ng-container>
<ng-container *ngIf='searchStatus == "available"'>

</ng-container>

<ng-container *ngIf='searchStatus == "available"'>
<div class=" wow fadeInRight animated animated" id="mainaccelritediv">
  <div class="search-results">
    <h1 class="searchresul-count">{{articleCount}} results for '{{currentSearchString}}'</h1>
    <section class="search-results-column">
      <h2 class="search-results-subheading">
        Knowledge base
      </h2>

      <ul class="search-results-list col-md-12">

        <ng-container *ngFor='let article of articles'>
          <li class="search-result col-md-6">
            <a routerLink='/hc/en-us/articles/id/{{article.id}}' class="search-result-link">{{article.title}}</a>

            <!-- <span class="search-result-votes">3</span> -->

            <div class="search-result-meta">
              by {{article.author.name}}
             <span class="search-result-meta-time">{{article.created_at | date}}</span>
              in
              <a routerLink = "/hc/en-us/home">Accelerite Support</a> &gt;
              <a routerLink = "/hc/en-us/sections/id/{{article.section.id}}">{{article.section.name}}</a>
            </div>
            <!-- <div class="search-result-description">
              {{s}}</div> -->
          </li>

        </ng-container>


      </ul>

    </section>

    <nav class="pagination">
<ul>

  <li class="pagination-last">
    <a [routerLink] = "" (click)="prevPageIndexes(5)">‹‹</a>
    </li>

  <li class="pagination-next">
    <a [routerLink]="" (click)="prevPageIndexes(1)" rel="prev">‹</a>
    </li>
    



<!-- <li class="pagination-current">
  <span>1</span>
</li> -->


<ng-container *ngFor="let count of pageIndexes">
  <li *ngIf="ifNextSetExists(count)">
    <a [routerLink]="" (click)="fetchNextSet(count)" rel="next">{{count + 1}}</a>
  </li>
  
</ng-container>





<li class="pagination-next">
<a [routerLink]="" (click)="nextPageIndexes(1)" rel="next">›</a>
</li>

<li class="pagination-last">
<a [routerLink] = "" (click)="nextPageIndexes(5)">»</a>
</li>

</ul>
</nav>

  </div>
</div>
</ng-container>

<ng-container  *ngIf='searchStatus == "unavailable"' >
  <div class="component-not-found">
    <h1>No articles for the search string '{{currentSearchString}}'</h1>
  </div>
</ng-container>

<app-helpcenter-footer></app-helpcenter-footer>