<header>
    <app-helpcenter-header></app-helpcenter-header>
<div class="main-search-div">
<div class="downbanbg">
   <div class="row unqipad">
       <div class="  search-header-div col-md-12">
         
         <div class="col-md-9 col-xs-13">
           <div class="height50"></div>
           <div class="hlputextleft">Search Results</div>
           <div class="hgt20">&nbsp;</div>
           <form [formGroup]="search_hc_form">
             <img class="searchhmicon hmsrchicon" src="assets/images/searchicon.png" /> 
             <input type="text" class="hmsearchbox" name="query" placeholder="Search" />
           </form>
        </div>
       </div>
 </div>
</div>




</div>
</header>

<div class=" wow fadeInRight animated animated" id="mainaccelritediv">
    <div class="search-results">
    <h1 class="searchresul-count">1164 results for "radia"</h1>
    <section class="search-results-column">
      <h2 class="search-results-subheading">
      Knowledge base
      </h2>
      
      <ul class="search-results-list col-md-6">
        
        <li class="search-result">
          <a href="/hc/en-us/search/click?data=BAh7CjoHaWRpBPTcbgw6CXR5cGVJIgxhcnRpY2xlBjoGRVQ6CHVybEkiSmh0dHBzOi8vc3VwcG9ydC5hY2NlbGVyaXRlLmNvbS9oYy9lbi11cy9hcnRpY2xlcy8yMDg1OTIxMTYtUmFkaWEtMTAtMAY7B1Q6DnNlYXJjaF9pZEkiKTY4MTk1MjI2LWM2MmEtNGUzZC1iNzE0LTQ4NjZkMzNjNTQzNQY7B0Y6CXJhbmtpBg%3D%3D--d433790c38d59e128ff39d10abff4a8c9b708f03" class="search-result-link">Radia 10.0</a>
          
          <span class="search-result-votes">3</span>
          
          <div class="search-result-meta">by Administrator <time datetime="2016-04-25T05:45:48Z" title="2016-04-25 11:15" data-datetime="relative">4 years ago</time> in <a href="https://support.accelerite.com">Accelerite Support</a> &gt; <a href="https://support.accelerite.com/hc/en-us/categories/200146230-Radia-Software-Downloads">Radia Software Downloads</a> &gt; <a href="https://support.accelerite.com/hc/en-us/sections/201976556-Radia-10-0">Radia 10.0</a></div>
          <div class="search-result-description"><em>Radia</em> 10</div>
        </li>
        
       
        
      </ul>
      
    </section>
      
<nav class="pagination">
<ul>




<li class="pagination-current">
  <span>1</span>
</li>



<li>
  <a href="/hc/en-us/search?page=2&amp;query=radia#results" rel="next">2</a>
</li>



<li>
  <a href="/hc/en-us/search?page=3&amp;query=radia#results">3</a>
</li>



<li>
  <a href="/hc/en-us/search?page=4&amp;query=radia#results">4</a>
</li>



<li>
  <a href="/hc/en-us/search?page=5&amp;query=radia#results">5</a>
</li>



<li>
  <a href="/hc/en-us/search?page=6&amp;query=radia#results">6</a>
</li>




<li class="pagination-next">
<a href="/hc/en-us/search?page=2&amp;query=radia#results" rel="next">›</a>
</li>

<li class="pagination-last">
<a href="/hc/en-us/search?page=100&amp;query=radia#results">»</a>
</li>

</ul>
</nav>


    </div>
    
  </div>