<header>
  <app-helpcenter-header></app-helpcenter-header>
  <div class="main-search-div">
    <div class="downbanbg">
      <div class="row unqipad">
        <div class="  search-header-div col-md-12">
          <div class="col-md-9 col-xs-13">
            <div class="height50"></div>
            <div class="hlputextleft">Search Results</div>
            <div class="hgt20">&nbsp;</div>
            <form [formGroup]="search_hc_form">
              <img class="searchhmicon hmsrchicon" src="assets/images/searchicon.png" />
              <input type="text" class="hmsearchbox" name="query" placeholder="Search" />
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<div  *ngIf='articles' class=" wow fadeInRight animated animated" id="mainaccelritediv">
  <div class="search-results">
    <h1 class="searchresul-count">{{articleCount}} results for '{{searchString.value}}'</h1>
    <section class="search-results-column">
      <h2 class="search-results-subheading">
        Knowledge base
      </h2>

      <ul class="search-results-list col-md-12">

        <ng-container *ngFor='let article of articles'>
          <li class="search-result col-md-6">
            <a href={{article.url}} class="search-result-link">{{article.title}}</a>

            <!-- <span class="search-result-votes">3</span> -->

            <div class="search-result-meta">
              by {{article.author.name}}
              <span >{{article.created_at | date}}</span>
              in
              <a href="/">Accelerite Support</a> &gt;
              <a href="hc/en-us/section/{{article.section.id}}">{{article.section.name}}</a>
            </div>
            <div class="search-result-description">
              {{searchString.value}}</div>
          </li>

        </ng-container>


      </ul>

    </section>

    <nav class="pagination">
<ul>

  <li class="pagination-last">
    <a [routerLink] = "" (click)="prevPageIndexes(5)">‹‹</a>
    </li>

  <li class="pagination-next">
    <a [routerLink]="" (click)="prevPageIndexes(1)" rel="prev">‹</a>
    </li>
    



<!-- <li class="pagination-current">
  <span>1</span>
</li> -->


<ng-container *ngFor="let count of pageIndexes">
  <li *ngIf="ifNextSetExists(count)">
    <a [routerLink]="" (click)="fetchNextSet(count)" rel="next">{{count}}</a>
  </li>
  
</ng-container>





<li class="pagination-next">
<a [routerLink]="" (click)="nextPageIndexes(1)" rel="next">›</a>
</li>

<li class="pagination-last">
<a [routerLink] = "" (click)="nextPageIndexes(5)">»</a>
</li>

</ul>
</nav>

  </div>
</div>