
    <div class="sidebar-container ">
     
            <div class="main-sidebar col-lg-2" id="main-sidebar">
    <ul>
    <li (click) = 'updateSidebar("home")'><a  matTooltip="Home"><i class="fa fa-home" aria-hidden="true" ></i></a></li>
    <li (click) = 'updateSidebar("section")'><a  matTooltip="Articles"><i class="fa fa-list-alt" aria-hidden="true"></i></a></li>
    <li (click) = 'updateSidebar("settings")'><a  matTooltip="Settings"><i class="fa fa-cog fa-1"></i></a></li>
    
    </ul>
    <br>
    </div>			 
                             
            <div class="sidebar col-lg-10" id="sidebar">
    
    
    <h4> <i class="fa fa-cog fa-1"></i> Administration</h4>
    <ul class="list-unstyled" *ngIf= "secondarySidebarOptions">
            <ng-container *ngFor="let option of secondarySidebarOptions">
                        <li   [class.selected-option]="selectedOption == option.name.toLowerCase()" class="active">
                                <a routerLink= {{option.sectionUrl}}>{{option.sectionName}}</a>
                        </li>
            </ng-container>
    
    </ul>
    <br>
    </div>
</div>    

