.support-div{
    .main-support-options-div{
        div.col-md-4{
            display: inline-block;
        }
        
    }
}
#announce2{
    div.col-md-6{
        vertical-align: top;
        display: inline-block;
    }
}

.top-articles-div{
    div.col-md-4{
        display: inline-block;
        vertical-align: top;
    }
}





