<app-helpcenter-header></app-helpcenter-header>
<div class="maindiv">
	<!-- Page Content -->
	<div class="container">

		<div class="support-div">
			<div class="hgt50">&nbsp;</div>
			<div class="supbtmtext">Persistent Support</div>
			<div class="hgt15">&nbsp;</div>
			<div class="supbotmbord">&nbsp;</div>
			<div class="hgt30">&nbsp;</div>
			<div class="row">
				<div class="col-md-12">
					<div class="supdesctext">Persistent Support provides information about the datasheets, product lifestyle matrix, and premier
						<br>support on software features, problem identification, diagnosis, and resolution.</div>
				</div>
			</div>
			<div class="hgt70">&nbsp;</div>
			<div class="row pad6perc">
				<div class="main-support-options-div col-md-12 col-sm-12 ">
					<div class="col-md-4 col-sm-4">
						<div class="centerBlock">
							<a href="/hc/en-us/articles/202042550-Accelerite-Support-Foundation-Data-Sheet" class="supportbox" disply="note">
								<div class="center supboxpad">
									<div class="bg-noun_note">&nbsp;</div>
								</div>
								<div class="accsuptxt" style="color: rgb(255, 255, 255);">Persistent foundation support datasheet </div>
							</a>
						</div>
					</div>
					<div class="col-md-4 col-sm-4">
						<div class="centerBlock">
							<a href="/hc/en-us/articles/210807183-Product-Lifecycle-Matrix" class="supportbox" disply="gear">
								<div class="center supboxpad2">
									<div class="bg-noun_gear">&nbsp;</div>
								</div>
								<div class="accsuptxt" style="color: rgb(255, 255, 255);">Product Lifecycle
									<br>Matrix</div>
							</a>
						</div>
					</div>
					<div class="col-md-4 col-sm-4">
						<div class="centerBlock">
							<a href="/hc/en-us/articles/115001719543-Accelerite-Premier-Support-Data-sheet" class="supportbox" disply="group">
								<div class="center supboxpad3">
									<div class="bg-noun_group">&nbsp;</div>
								</div>
								<div class="accsuptxt" style="color: rgb(255, 255, 255);">Persistent Premier
									<br>Support</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="hgt50">&nbsp;</div>
	<div class="annoucebg">
		<div class="row ">
			<div class="offset-md-3 col-md-9 ">
				<div class="announcetxt">Announcements</div>
				<div class="hgt15">&nbsp;</div>
				<div class="supbotmbordleft">&nbsp;</div>
				<div class="hgt30">&nbsp;</div>
				<div id="announcementList" class="row nopad">
					<div id="announce2" class="col-md-12 nopad">
						<div class="col-md-6 col-sm-6 nopad">
							<div class="left padright15">
								<i class="fa fa-caret-right leftarrw"></i>
							</div>
							<div class="left width350">
								<a href="https://support.accelerite.com/hc/en-us/articles/360035839772-Microsoft-has-released-45-new-security-bulletins-after-last-Patch-Tuesday-for-the-month-of-Nov-2019"
								 class="annohd">Microsoft has released 45 new security bulletins after last Patch Tuesday for the month of Nov, 2019
									<br>
									<span class="annpdinfo">in Radia</span>
								</a>
							</div>
						</div>
						<div class="col-md-6 col-sm-6 nopad">
							<div class="left padright15">
								<i class="fa fa-caret-right leftarrw"></i>
							</div>
							<div class="left width350">
								<a href="https://support.accelerite.com/hc/en-us/articles/360032470632-Accelerite-has-released-new-SystemVM-Templates-with-the-Vulnerability-fixes"
								 class="annohd">Accelerite has released new SystemVM Templates with the Vulnerability fixes
									<br>
									<span class="annpdinfo">in CloudPlatform</span>
								</a>
							</div>
						</div>
						<div class="hgt30 cboth">&nbsp;</div>
						<div class="col-md-6 col-sm-6 nopad">
							<div class="left padright15">
								<i class="fa fa-caret-right leftarrw"></i>
							</div>
							<div class="left width350">
								<a href="https://support.accelerite.com/hc/en-us/articles/360035044931-Microsoft-has-released-58-Security-Updates-for-the-month-of-Oct-2019"
								 class="annohd">Microsoft has released 58 Security Updates for the month of Oct, 2019
									<br>
									<span class="annpdinfo">in Radia</span>
								</a>
							</div>
						</div>
						<div class="col-md-6 col-sm-6 nopad">
							<div class="left padright15">
								<i class="fa fa-caret-right leftarrw"></i>
							</div>
							<div class="left width350">
								<a href="https://support.accelerite.com/hc/en-us/articles/360032609711-Rovius-CP-4-11-Hotfix-07-System-VM-ISO-Changes" class="annohd">Rovius CP 4.11 Hotfix-07 System VM ISO Changes
									<br>
									<span class="annpdinfo">in CloudPlatform</span>
								</a>
							</div>
						</div>
						<div class="hgt30 cboth">&nbsp;</div>
						<div class="col-md-6 col-sm-6 nopad">
							<div class="left padright15">
								<i class="fa fa-caret-right leftarrw"></i>
							</div>
							<div class="left width350">
								<a href="https://support.accelerite.com/hc/en-us/articles/360001575092-New-and-Improved-Rovius-Cloud-1-3-1" class="annohd">New and Improved Rovius Cloud 1.3.1
									<br>
									<span class="annpdinfo">in Rovius</span>
								</a>
							</div>
						</div>
						<div class="col-md-6 col-sm-6 nopad">
							<div class="left padright15">
								<i class="fa fa-caret-right leftarrw"></i>
							</div>
							<div class="left width350">
								<a href="https://support.accelerite.com/hc/en-us/articles/360032277631--Accelerite-Releases-Patch-H-for-Cloud-Portal-Business-Manager-2-6-0"
								 class="annohd"> Accelerite Releases Patch H for Cloud Portal Business Manager 2.6.0
									<br>
									<span class="annpdinfo">in CPBM</span>
								</a>
							</div>
						</div>
						<div class="hgt30 cboth">&nbsp;</div>
						<div class="row nopad">
							<div class="col-md-6 col-sm-6 col-md-offset-6 col-sm-offset-6">
								<div class="padleft15">
									<a href="/hc/en-us/categories/201273843" class="moreannlink">Learn More &nbsp;&nbsp;
										<i class="fa fa-angle-right moreannw"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	<div class="downbg">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="center">
						<img src="./assets/images/downloadhome.png" width="80" height="76">
					</div>
					<div class="hgt15">&nbsp;</div>
					<div class="supbtmtext">Product Downloads</div>
					<div class="hgt15">&nbsp;</div>
					<div class="supbotmbord">&nbsp;</div>
					<div class="hgt30">&nbsp;</div>
					<div class="supdesctext">Accelerite provides trial downloads for a selection of its products; all users can download these products.</div>
					<div class="clearfix"></div>
					<div class="hgt45">&nbsp;</div>
					<div class="center">
						<button class="hmdwnldbtn" onclick="location.href='/hc/en-us/categories/201273853';">Click here to download</button>
					</div>
				</div>
				<div class="col-md-6" style="    border-left: 1px solid #fa6400;">
					<div class="center">
						<img src="./assets/images/kbhome.png" width="80" height="76">
					</div>
					<div class="hgt15">&nbsp;</div>
					<div class="supbtmtext">Knowledge Base</div>
					<div class="hgt15">&nbsp;</div>
					<div class="supbotmbord">&nbsp;</div>
					<div class="hgt30">&nbsp;</div>
					<div class="supdesctext">Search content including knowledge base articles and product manuals. </div>
					<div class="clearfix"></div>
					<div class="hgt45">&nbsp;</div>
					<div class="center">
						<button class="hmdwnldbtn" style="    width: 280px;" onclick="location.href='/hc/en-us/categories/201273853';"> Search Articles</button>
					</div>
				</div>

			</div>
		</div>
	</div>
	<div class="hgt50">&nbsp;</div>
	<div class=" cboth">&nbsp;</div>
	<div class="toparticle">
		<div class="container">
			<div class="row">
				<div class="col-md-12 supbtmtext">Top articles</div>
				<div class="hgt15">&nbsp;</div>
				<div class="col-md-12 ">
					<div class="supbotmbord">&nbsp;</div>
				</div>
				<div class="hgt50">&nbsp;</div>
				<div class="col-md-12 col-sm-12 top-articles-div">
					<div class="col-md-4 col-sm-4">
						<div class="centerBlock">
							<a href="https://accelerite.com/blogs/how-to-build-a-hybrid-cloud-with-aws/" target="_blank" class="topartbox tracklink"
							 page-type="article">
								<div>
									<img src="//theme.zdassets.com/theme_assets/270851/e860a9e0b4ec461f3f63c70f76cb4ff0a3f0a545.jpg" class="img-responsive">
								</div>
								<div class="hgt15">&nbsp;</div>
								<div class="toparthd">How To Build A Hybrid Cloud With AWS</div>
								<!-- 					<div class="hgt30">&nbsp;</div> -->
							</a>
						</div>
					</div>
					<div class="col-md-4 col-sm-4">
						<div class="centerBlock">
							<a href="https://accelerite.com/blogs/the-most-cutting-edge-endpoint-security-solution-trends-in-2019/" target="_blank" class="topartbox tracklink"
							 page-type="article">
								<div>
									<img src="//theme.zdassets.com/theme_assets/270851/b70d2f3e76fa2397fe891248e3458ab0b2728edd.jpg" class="img-responsive">
								</div>
								<div class="hgt15">&nbsp;</div>
								<div class="toparthd">The Most Cutting Edge Endpoint Security Solution Trends in 2019</div>
								<!-- 					<div class="hgt30">&nbsp;</div> -->
							</a>
						</div>
					</div>
					<div class="col-md-4 col-sm-4">
						<div class="centerBlock">
							<a href="https://accelerite.com/blogs/no-code-machine-learning-on-aws-bringing-ai-within-reach/" target="_blank" class="topartbox tracklink"
							 page-type="article">
								<div>
									<img src="//theme.zdassets.com/theme_assets/270851/3fde208937db9dc3072b1421277b018893690f5f.jpg" class="img-responsive">
								</div>
								<div class="hgt15">&nbsp;</div>
								<div class="toparthd">No-Code Machine Learning on AWS: Bringing AI Within Reach</div>
								<div class="hgt30">&nbsp;</div>
							</a>
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="center col-md-12 col-sm-12 ">
						<div class="hgt30">&nbsp;</div>
						<a href="http://accelerite.com/blog/" target="_blank" class="moreprdlink">Learn More &nbsp;&nbsp;&nbsp;
							<i class="fa fa-angle-right morearrw"></i>
						</a>
						<div class="hgt50">&nbsp;</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<app-helpcenter-footer></app-helpcenter-footer>
	<!-- LOGIN/REGISTER POPUP START-->
	<div id="loginModal" class="modal fade poplogin" aria-hidden="false">
		<div class="vertical-alignment-helper">
			<div class="modal-dialog modal-dialog-login-width vertical-align-center">
				<!-- Modal content-->
				<div class="modal-content modal-content-bg">
					<div class="modal-header modal-header-bord login-pad">
						<div class="text-right col-md-12">
							<button type="button" class="close-login" data-dismiss="modal">&times;</button>
						</div>
					</div>
					<div class="modal-body nopad">
						<div class="row nopad">
							<div class="col-md-6 nopad text-center" (click)="toggleMode('login')">
								<h1 [ngClass] = "{'submnhed': loginMode, 'submnhedgrey': !loginMode}" class="showloginjs">
									<img #loginLink src="./assets/images/loginblueicon.svg" class="padrgt20" />Login</h1>
							</div>
							<div class="col-md-6 nopad text-center" (click)="toggleMode('register')">
								<h1 [ngClass] = "{'submnhed': !loginMode, 'submnhedgrey': loginMode}" class="showPointcursor showregisterjs">
									<img #registerLink src="./assets/images/registergreyicon.svg" class="padrgt20" />Register</h1>
							</div>
						</div>
						<div class="cboth hgt20">&nbsp;</div>
						<div class="row nopad">
							<div class="col-md-6 nopad">
								<div [ngClass] = "{'logselbg': loginMode, 'lognonselbg': !loginMode}" id="loginbg">&nbsp;</div>
							</div>
							<div class="col-md-6 nopad">
								<div [ngClass] = "{'logselbg': !loginMode, 'lognonselbg': loginMode}" id="registerbg">&nbsp;</div>
							</div>
						</div>
						<div class="cboth hgt30">&nbsp;</div>
						<div class="row">
							<!-- START LOGIN POPUP -->
							<ng-container *ngIf="loginMode; else registerMode">
							<div  class="col-md-12 padLogin" id="loginDivForm">
								<div id="errorDiv"> </div>
								<form action="#" class="request-form" method="POST" id="frmlogin" name="frmlogin" novalidate="novalidate" autocomplete=off>
									<div class="user-input-wrp">
										<input type="text" class="txtbxWidth" name="email" id="email" value="" required />
										<img class="appendiconeml" src="#" width="22" />
										<span class="floating-label lbl-email">Email</span>
									</div>
									<div class="hgt25">&nbsp;</div>
									<div class="user-input-wrp">
										<input type="password" class='txtbxWidth' name="password" id="password" value="" required />
										<img class="appendiconpwd" src="#" width="16" />
										<span class="floating-label lbl-passwords">Password</span>
									</div>
									<div class="cboth hgt20">&nbsp;</div>
									<div class="text-right">
										<a href="/access/help" target="_blank" class="fgpwdlink">Forgot Password ?</a>
									</div>
									<div class="cboth hgt25">&nbsp;</div>
									<div class="col-md-6 nopadleft inline-display-cls">
										<div id="logincancelbutton">
											<input type="button" class="logcancelbtn" value="Cancel" name="log_cancel" id="log_cancel">
										</div>
									</div>
									<div class="col-md-6 nopadrgt inline-display-cls">
										<div id="loginbutton">
											<input type="hidden" name="returnUrl" id="returnUrl" value="">
											<input type="submit" class="sublogbtn" value="Login" name="submit_log" id="sub_login">
										</div>
									</div>
									<div id="errmessage" style="display:none">Authenticating....</div>
									<div class="cboth">&nbsp;</div>
								</form>
							</div>
						</ng-container>
							<!-- END  LOGIN POPUP -->
							<!-- START REGISTER POPUP -->
							<ng-template #registerMode>
							<div class="col-md-12 padLogin" id="registerDivForm">
								<div id="successmsg"></div>
								<div id="regfrmDiv">
									<form action="#" class="request-form" method="POST" id="UserRegForm" name="UserRegForm" novalidate="novalidate">
										<div class="user-input-wrp">
											<input type="text" name="UserRegForm_name" id="UserRegForm_name" class='txtbxWidth' value="" required>
											<img class="appendiconreg" src="#" width="21" />
											<span class="floating-label">User Full Name</span>
										</div>
										<div class="hgt25">&nbsp;</div>
										<div class="user-input-wrp">
											<input type="email" name="UserRegForm_email" id="UserRegForm_email" class='txtbxWidth' required />
											<img class="appendiconeml" src="#" width="21" />
											<span class="floating-label">Email Address</span>
										</div>
										<div class="hgt25">&nbsp;</div>
										<div class="user-input-wrp">
											<input type="password" name="UserRegForm_password" id="UserRegForm_password" class='txtbxWidth' required />
											<img class="appendiconpwd" src="#" width="16" />
											<span class="floating-label">Password</span>
										</div>
										<div class="hgt25">&nbsp;</div>
										<div class="user-input-wrp">
											<input type="password" name="UserRegForm_cpassword" id="UserRegForm_cpassword" class='txtbxWidth' required />
											<img class="appendiconpwd" src="#" width="16" />
											<span class="floating-label">Confirm Password</span>
										</div>
										<div class="hgt25">&nbsp;</div>
										<div class="user-input-wrp">
											<input type="text" name="UserRegForm_phone" id="UserRegForm_phone" class='txtbxWidth' required />
											<img class="appendiconreg" src="#" width="23" />
											<span class="floating-label">Phone Number</span>
										</div>
										<div class="cboth hgt25">&nbsp;</div>
										<div>
											<div class="left">
												<input type="checkbox" value="1" name="reg_agree_term[]" />
											</div>
											<div class="left agreeregtext">I agree and accept the
												<a href='https://support.accelerite.com/hc/en-us/articles/203473150-Accelerite-Data-Privacy-Policy'
												 target='_blank' style="color:#9b9b9b;text-decoration:underline;">Terms and Conditions</a>
											</div>
										</div>
										<div class="cboth hgt25">&nbsp;</div>
										<div class="col-md-6 nopadleft inline-display-cls">
											<div>
												<input type="button" class="logcancelbtn" value="Cancel" name="reg_cancel" id="reg_cancel">
											</div>
										</div>
										<div class="col-md-6 nopadrgt inline-display-cls">
											<div id="loginbutton">
												<input type="submit" class="sublogbtn" value="Register" name="submit_reg" id="register">
											</div>
										</div>
										<div id="errmessage" style="display:none;">Authenticating....</div>
									</form>
								</div>
							</div>
						</ng-template>
							<!-- END  REGISTER POPUP -->
						</div>
					</div>
					<div class="modal-footer modal-footer-bord modal-footer-pad"></div>
				</div>
			</div>
		</div>
	</div>
	<!-- LOGIN/REGISTER POPUP ENDS HERE -->
	<!-- LOGIN/REGISTER POPUP ENDS HERE -->
	<!-- START CONTACT POPUP -->
	<div id="contactModal" aria-hidden="false" class="modal fade" role="dialog">
		<div class="vertical-alignment-helper">
			<div class="modal-dialog modal-dialog-width55per vertical-align-center">
				<!-- Modal content-->
				<div class="modal-content modal-content-bg">
					<div class="modal-header modal-header-bord">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					<div class="modal-body modal-body-pad" style="padding: 0px 60px 30px 60px !important;    margin-bottom: 20px; margin-top: 30px;">
						<h1 class="submnhed">
							<img src="./assets/images/contact.svg" style='margin-right:15px;' /> Telephone Support</h1>
						<hr class='popuphr' />
						<div class="cboth">&nbsp;</div>
						<div class="col-md-12 nopad">
							<div class="col-md-6 nopad">
								<div class="left">
									<img src="//p2.zdassets.com/hc/theme_assets/270851/200042364/spain.jpg" class="contdataImg" />
								</div>
								<div class="left cnNmWidth">
									<h5 class="countryNm countypad">Spain</h5>
								</div>
								<div class="left cnNoWidth">
									<h5 class="countryNm"> +34-51888-0092 </h5>
								</div>
							</div>
							<div class="col-md-6 nopad">
								<div class="right">
									<div class="left">
										<img src="//p2.zdassets.com/hc/theme_assets/270851/200042364/france.jpg" class="contdataImg" />
									</div>
									<div class="left cnNmWidth">
										<h5 class="countryNm countypad">France</h5>
									</div>
									<div class="left cnNoWidth">
										<h5 class="countryNm"> +33-975-185-485 </h5>
									</div>
								</div>
							</div>
						</div>
						<div class="hgt40 cboth">&nbsp;</div>
						<div class="col-md-12 nopad">
							<div class="col-md-6 nopad">
								<div class="left">
									<img src="//p2.zdassets.com/hc/theme_assets/270851/200042364/germany.jpg" class="contdataImg" />
								</div>
								<div class="left cnNmWidth">
									<h5 class="countryNm countypad">Germany</h5>
								</div>
								<div class="left cnNoWidth">
									<h5 class="countryNm"> +49-322-2109-3384 </h5>
								</div>
							</div>
							<div class="col-md-6 nopad">
								<div class="right">
									<div class="left">
										<img src="//p2.zdassets.com/hc/theme_assets/270851/200042364/japan.jpg" class="contdataImg" />
									</div>
									<div class="left cnNmWidth">
										<h5 class="countryNm countypad">Japan</h5>
									</div>
									<div class="left cnNoWidth">
										<h5 class="countryNm"> +81-368-635-424 </h5>
									</div>
								</div>
							</div>
						</div>
						<div class="hgt40 cboth">&nbsp;</div>
						<div class="col-md-12 nopad">
							<div class="col-md-6 nopad">
								<div class="left">
									<img src="//p2.zdassets.com/hc/theme_assets/270851/200042364/united_kingdom.jpg" class="contdataImg" />
								</div>
								<div class="left cnNmWidth">
									<h5 class="countryNm countypad">UK</h5>
								</div>
								<div class="left cnNoWidth">
									<h5 class="countryNm"> +44-203-514-1417 </h5>
								</div>
							</div>
							<div class="col-md-6 nopad">
								<div class="right">
									<div class="left">
										<img src="//p2.zdassets.com/hc/theme_assets/270851/200042364/united_states_of_america.jpg" class="contdataImg" />
									</div>
									<div class="left cnNmWidth">
										<h5 class="countryNm countypad">USA</h5>
									</div>
									<div class="left cnNoWidth">
										<h5 class="countryNm"> +1-800-260-4174 </h5>
									</div>
								</div>
							</div>
						</div>
						<div class="hgt40 cboth">&nbsp;</div>
						<div class="col-md-12 nopad">
							<div class="col-md-6 nopad">
								<div class="left">
									<img src="//p4.zdassets.com/hc/theme_assets/270851/200042364/Australia.png" class="contdataImg" />
								</div>
								<div class="left cnNmWidth">
									<h5 class="countryNm countypad">Australia</h5>
								</div>
								<div class="left cnNoWidth">
									<h5 class="countryNm">+61-280466570</h5>
								</div>
							</div>
							<div class="col-md-6 nopad">
								<div class="right">
									<div class="left">
										<img src="#" class="contdataImg">
									</div>
									<div class="left cnNmWidth">
										<h5 class="countryNm countypad">Mexico</h5>
									</div>
									<div class="left cnNoWidth">
										<h5 class="countryNm"> &nbsp; &nbsp; &nbsp; 800-681-8030 </h5>
									</div>
								</div>
							</div>


							<div class="cboth"></div>
						</div>
					</div>
					<div class="modal-footer modal-footer-bord modal-footer-pad"></div>
				</div>
			</div>
		</div>
	</div>
	<!-- END CONTACT POPUP-->
	<!-- Bootstrap core JavaScript -->
	<script src="vendor/jquery/jquery.min.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/all.js"></script>
	<script>
		function showHideMenu(menuHgt, Scrollheight, curMenuHgt) {
			console.log(Scrollheight);
			if (menuHgt < Scrollheight) {
				$('#spacDiv').css({ 'display': 'block', 'height': curMenuHgt + 'px' });
				$('.suptext').removeClass('suptext').addClass('suptextblack');
				$('.cusnav').removeClass('cusnav').addClass('cusnavblack');
				$('#supdiv').addClass('fixpostsub');
				$('#supdiv').fadeIn('fast');
				$('.borderline').hide();
			} else {
				$('#spacDiv').css({ 'display': 'none' });
				$('.suptextblack').removeClass('suptextblack').addClass('suptext');
				$('.cusnavblack').removeClass('cusnavblack').addClass('cusnav');
				$('#supdiv').removeClass('fixpostsub');
				$('.borderline').show();
			}
		}
		var menuHgt = 70;
		var curMenuHgt = $('#supdiv').outerHeight();
		$(document).scroll(function () {
			//SCROLL HEIGHT
			var Scrollheight = $(this).scrollTop();
			showHideMenu(menuHgt, Scrollheight, curMenuHgt);
		});
		$(document).ready(function () {
			var windowHeight = $(window).height();

			windowHeight = parseInt(windowHeight);
			windowHeight = windowHeight - 70;

			$('.homebg').css({ 'min-height': windowHeight + 'px' });

			var curMenuHgt = $('#supdiv').outerHeight();
			//TOP MENU HEIGHT
			var menuHgt = 70;
			var CurScrollheight = $(this).scrollTop();
			showHideMenu(menuHgt, CurScrollheight, curMenuHgt);


			$('.supportbox').mouseover(function () {
				var attrVal = $(this).attr("disply");
				$(this).find('.bg-noun_' + attrVal).removeClass('bg-noun_' + attrVal).addClass('bg-noun_' + attrVal + '-over');

			}).mouseout(function () {
				var attrVal = $(this).attr("disply");
				$(this).find('.bg-noun_' + attrVal + '-over').removeClass('bg-noun_' + attrVal + '-over').addClass('bg-noun_' + attrVal);

			});

			var assetsLoginblueicon = "./assets/images/loginblueicon.svg";
			var assetsLogingreyicon = "./assets/images/logingreyicon.svg";

			var assetsRegisterblueicon = "./assets/images/registerblueicon.svg";
			var assetsRegistergreyicon = "./assets/images/registergreyicon.svg";

			//CLOSE LOGIN POPUP WHEN CLICK ON CANCEL BUTTON
			$('#log_cancel').click(function (e) {
				e.preventDefault();
				$('#loginModal').modal('hide');
			});
			$('#reg_cancel').click(function (e) {
				e.preventDefault();
				$('#loginModal').modal('hide');
			});


			//SHOW LOGIN FORM  
			$('.showloginjs').on('click', function () {
				if ($('#loginDivForm').is(":visible") == false) {

					$('.showregisterjs').removeClass('submnhed').addClass('submnhedgrey');
					$('.showregisterjs').addClass('showPointcursor');
					$('.showregisterjs').find('img').attr('src', assetsRegistergreyicon);
					$('#registerbg').removeClass('logselbg').addClass('lognonselbg');
					$('#registerDivForm').hide(200);

					$(this).find('img').attr('src', assetsLoginblueicon);
					$(this).parent().find('h1.submnhedgrey').removeClass('submnhedgrey').addClass('submnhed');
					$(this).parent().find('h1').removeClass('showPointcursor');
					$('#loginbg').removeClass('lognonselbg').addClass('logselbg');
					$('#loginDivForm').show(200);
				}
			});
			//SHOW REGISTER FORM 
			$('.showregisterjs').on('click', function () {
				if ($('#registerDivForm').is(":visible") == false) {
					$('.showloginjs').removeClass('submnhed').addClass('submnhedgrey');
					$('.showloginjs').addClass('showPointcursor');
					$('.showloginjs').find('img').attr('src', assetsLogingreyicon);
					$('#loginbg').removeClass('logselbg').addClass('lognonselbg');
					$('#loginDivForm').hide(200);

					$(this).find('img').attr('src', assetsRegisterblueicon);
					$(this).parent().find('h1.submnhedgrey').removeClass('submnhedgrey').addClass('submnhed');
					$(this).parent().find('h1').removeClass('showPointcursor');
					$('#registerbg').removeClass('lognonselbg').addClass('logselbg');
					$('#registerDivForm').show(200);
				}
			});
			//END CODE FOR LOGIN POPUP

		});


	</script>