  <div class="col-md-12">
  <div class="create-field-content col-md-8   offset-md-2">
      <div class="create-field-header  col-md-12">
        <h4 class="create-field-title">Create Article Field</h4>
        <div class="select-field-type  col-md-12">
            <h5 class="field-attr-title"> Select Field Type</h5>
            <div class=" field-type-options col-md-12">
              <button type="button" class="btn btn-default" (click)="updateSelectedFieldType(1)"><i class="fa fa-text-width" aria-hidden="true"></i> Text</button>
              <button type="button" class="btn btn-default" (click)="updateSelectedFieldType(2)"><i class="fa fa-bars" aria-hidden="true"></i> Multi-line</button>
              <button type="button" class="btn btn-default" (click)="updateSelectedFieldType(3)"><i class="fa fa-caret-square-o-down" aria-hidden="true"></i> Drop-down</button>
            </div>
            
            <div class="field-type-options col-md-12">
              <button type="button" class="btn btn-default" (click)="updateSelectedFieldType(4)"><i class="fa fa-list" aria-hidden="true"></i> Multi-select</button>
              <button type="button" class="btn btn-default" (click)="updateSelectedFieldType(5)"><i class="fa fa-check-square-o" aria-hidden="true"></i> Checkbox</button>
              <button type="button" class="btn btn-default" (click)="updateSelectedFieldType(6)"><i class="fa fa-check-circle" aria-hidden="true"></i> Radio</button>
            </div>
           

      </div>
     

      </div>
      <div class="create-field-body  col-md-12">
        <form class="create-field-form" [formGroup] = 'article_fields_form'  (ngSubmit)="onSubmit()">

            
              <div *ngIf="selectedType" class="checkbox-options-div col-md-12">
              <h5 class="field-attr-title">Permissions:</h5>
                <mat-checkbox class="col-md-12" formControlName ="agent_only" >Agents Only (field will not be visible to end users)</mat-checkbox>
              <mat-checkbox class="col-md-12" formControlName ="required">Required (field cannot be left blank)</mat-checkbox>
              </div> 
              <div *ngIf="selectedType"  class="field-discription col-md-12">
                  <h5 class="field-attr-title">Description:</h5>
                    <mat-form-field class="col-md-12">
                        <textarea matInput formControlName = "description" placeholder="Add Field Description"></textarea>
                      </mat-form-field>
      
                </div> 
              <div *ngIf="selectedType"  class="field-name col-md-12">
                  <h5 class="field-attr-title">Field Name:</h5>
                <mat-form-field class="col-md-12">
                  <input matInput formControlName = "field_name" placeholder="Add Field Name" />
                </mat-form-field>
              </div>
  
              <div *ngIf="hasValues" formArrayName="field_value" class="field_values_div col-md-12">
                <h5 class="field-attr-title">Field Options :</h5>
              <mat-form-field class="col-md-12" *ngFor="let value of field_value.controls, let i = index " >
                  <input matInput [formControlName] = "i" placeholder="Field Value" (change) = "addFieldValueCol(i)" (keyup)= "validateFieldValues(i)" />
                  <i class="remove-button fa fa-times-circle-o" aria-hidden="true" (click) = "removeValue(i)"></i>
                </mat-form-field>
              </div>
        
              <div *ngIf="selectedType" class="create-field-footer col-md-12 create-article">
                  <button type="submit" class="btn btn-default" >Create Field</button>
                </div>
        </form>
      
       

      </div>
    
    </div>

  </div>