<div class="container-fluid">
<div *ngIf = "article_object" class="display-article-home row">
  <div class="article-header col-md-12">
      <h1 class="article-title">
          {{article_object.title}}
      </h1>
  </div>
  <ng-container *ngIf="article_object.article_form_id != 0; else new_design_template">
 <div *ngIf="fieldValues" class="article-body col-md-9">
   <span *ngFor="let obj of article_object.body">
     <span *ngIf="(obj.key!= 'fieldValues' && obj.key!= 'fieldInformation')">
        <h3 class="body-title col-md-12">{{obj.key}}</h3>
        <span *ngIf="(fieldValues[obj.value]); else displayVal">
            <div class="body-textarea col-md-12" [innerHTML]="fieldValues[obj.value]"></div>
        </span>
        <ng-template #displayVal>
            <div class="body-textarea col-md-12" [innerHTML]="obj.value"></div>
        </ng-template>
        
     </span>

   </span>
 </div>
</ng-container>
<ng-template #new_design_template>
  <div class="article-body col-md-9">
      <span [innerHtml] = "article_object.body"></span>
  </div>

</ng-template >
 <div class="article-sidebar col-md-3">
   <div class="kb-article-opt">
      <button type="button" class="btn btn-primary" (click)="editArticle()">Edit</button>
      <button type="button" class="btn btn-primary">Delete</button>
  </div>
   <span *ngIf="article_object.review_state != null" class="review_state">Status : <span> {{article_object.review_state.state}}</span></span>
  <span>
    <h3 class="col-md-12">Document Id:</h3>
    <p class="col-md-12">{{article_object.id}}</p>
  </span>
 </div> 
 <div class="col-md-12 article-footer">
   <span>Created By : <a class="creator-name" href="">{{article_object.author.name}}</a> - <span class="update-time">{{article_object.updated_at | date: 'medium'}}</span></span>
 </div>
</div>
</div>

<!-- edit article modal starts -->
<!-- <div *ngIf="article_object" class="modal fade" id="editArticleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    
         <app-edit-article [article] = article_object (articleChange) = "this.article_objectVal = $event"></app-edit-article>
       
  </div> -->
  <!-- edit article modal ends -->