<div class="container-fluid">
    <div class="row">
        <div class = "create_article_div offset-md-1 col-md-10">
            <h4>Create KB article</h4>
            <form [formGroup] = 'article_form'  (ngSubmit)="updateArticle()">
                <div class ="form-row">
                  <div formGroupName ='article_header' class = "article_form_header col-md-12">
                    <div class="col-md-12 form-group">
                      <mat-form-field class="col-md-12">
                        <input matInput formControlName= 'title' placeholder="Article Title">
                      </mat-form-field>


                    </div>
                      <div class="col-md-12 form-row">
                        <div *ngIf="selectedForm" class="col-md-6">
                          <mat-form-field class="col-md-10">
                            <mat-label>Article Form</mat-label>
                            <mat-select formControlName = 'form' >
                              <mat-option [value]="selectedForm.id">{{selectedForm.name}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                        <div class="col-md-6">
                          <mat-form-field class="col-md-10">
                           <mat-label>Section</mat-label>
                           <mat-select formControlName = 'section'>
                             <mat-option>None</mat-option>
                             <mat-option *ngFor="let section of sectionList" [value]="section.id">{{section.name}}</mat-option>
                           </mat-select>
                         </mat-form-field>
                         </div>
                      </div>
                      </div>
                      <mat-form-field *ngIf = "article_form.get('title1')" class="col-md-12">
                        <input matInput formControlName= 'title1' placeholder="Article Title 1">
                      </mat-form-field>
                      <div *ngIf = "article_form.get('article_body')"  class="article_form_body col-md-12">

                        <ng-container *ngComponentOutlet="dynamicFormComponent;
                        ngModuleFactory: dynamicFormModule;"></ng-container>
      

              </div>
            <div class="update-article col-md-12" >
                <button mat-button type="submit" color="primary">Update Article</button>
                <!-- <button mat-button type="button" color="yellow" (click) = "validateData()" >Validate Data</button> -->
            </div>
          </div>
          

        </form>
        </div>    
    </div>
 </div>