<header>
<span id="dashboardParentSpan">
    <app-helpcenter-header></app-helpcenter-header>

<div class="myDashboardStyle">
    <div class="row userProfileAllInfo">
        <div class="My-Support-Dashboard-Title">My Support Dashboard</div>
        <div class="Line-1-Cls"> </div>
        <div id="userProfileData" class="col-md-5">
            <div class="col-md-4 profilebckg">
                <div class="avtimglnhgt" align="center">
                    <img id="userAvatarImg" src="https://support.accelerite.com/system/photos/3600/2115/5612/361040981.png" class="profdashimg">
                </div>
            </div>
            <div class="userInfoCls col-md-8">
                <div class="dashfnt18 col-md-12" id="userName">Administrator</div>
                <div class="dashfnt14 col-md-12" id="userOrg">Persistent, Accelerite</div>
                <div class="dashdishgt col-md-12" id="userSupport">Foundation Support</div>
            </div>
        </div>
        <div id="allTicketInformation" class="col-md-7 text-right paddingZero" style="margin-top: 2%;">
            <div class="col-md-6 col-xs-12 col-sm-6 paddingZero">
                <div class="allInfo-Cls">
                    <div class="col-md-8 dashfnt13 allInfo-Style-Cls col-sm-8 col-xs-7">Active Cases</div>
                    <div id="activeCasesAll" class="col-md-4 col-sm-2 col-xs-5 dashtickdata">8</div>
                </div>
            </div>
            <div class="paddingZero col-md-6 col-xs-12 col-sm-6 ">
                <div class="allInfo-Cls">
                    <div class="col-md-8 dashfnt13 allInfo-Style-Cls col-sm-8 col-xs-7">Solved Cases</div>
                    <div id="solvedCasesAll" class="col-md-4 col-sm-2 col-xs-5 text-center dashtickdata">907</div>
                </div>
            </div>
            <div class="paddingZero  col-xs-12 col-sm-6 col-md-6">
                <div class=" allInfo-Cls ">
                    <div class="col-md-8 dashfnt13 allInfo-Style-Cls col-sm-8 col-xs-7">Satisfaction</div>
                    <div id="satisfactionPercentageAll" class="col-sm-2 col-xs-5 col-md-4 text-center dashtickdata">
                        No Data </div>
                </div>
            </div>
            <div class="paddingZero col-xs-12 col-sm-6 col-md-6">
                <div class=" allInfo-Cls">
                    <div class="dashfnt13 allInfo-Style-Cls col-md-8 col-sm-8 col-xs-7">Community Posts</div>
                    <div id="communityPostAll" class=" col-sm-2 col-xs-5 col-md-4 text-center dashtickdata">5</div>
                </div>
            </div>
        </div>
        <div class="cboth backColorF7" style="height: 10px;"></div>
    </div>
</div>

<div class="collapse navbar-collapse" id="dashboard-navbar">
    <ul class="nav navbar-nav dashbrdNav">
        <li>
            <a href="https://support.accelerite.com/hc/en-us/articles/115005625283">Overview</a>
        </li>
        <li>
            <a href="https://support.accelerite.com/hc/en-us/requests?output_type=table">Requests
                <div class="dashSelMnu" style="width:72px;">&nbsp;</div>
            </a>
        </li>
        <li>
            <a href="https://support.accelerite.com/hc/contributions/posts?locale=en-us">Articles</a>
        </li>
        <li>
            <a href="https://support.accelerite.com/hc/en-us/subscriptions">Subscriptions</a>
        </li>
        <li>
            <a href="/hc/en-us/profiles/361040981-Administrator">Profile</a>
        </li>
        <li>
            <a href="https://support.accelerite.com/hc/en-us/articles/360006729632">Entitlement</a>
        </li>
        <li>
            <a href="https://support.accelerite.com/hc/en-us/articles/115005882026">Projects</a>
        </li>
    </ul>
</div>
</span>
</header>