.section-title{
    padding-top: 20px;
    text-align: center;
}



.view-container{
    display: inline-block;
    padding-left: 0px;
    padding-right: 0px;
    overflow-x: hidden;
    .col-lg-12{
        padding-left: 0px;
        padding-right: 0px;
    }
}