.section-title{
    padding-top: 20px;
    text-align: center;
}



.view-container{
    display: inline-block;
    padding-left: 0px;
    padding-right: 0px;
    overflow-x: hidden;
    .col-lg-12{
        padding-left: 0px;
        padding-right: 0px;
    }
}

.disabledListVal {
    pointer-events:none; //This makes it not clickable
    opacity:0.6;         //This grays it out to look disabled
}