<div class="container-fluid">
<div *ngIf = "articleObj" class="display-article-home row">
  <div class="article-header col-md-12">
      <h1 class="article-title">
          {{articleObj.title}}
      </h1>
  </div>
 <div class="article-body col-md-9">
   <span *ngFor="let obj of articleObj.body">
     <h3 class="body-title col-md-12">{{obj.name}}</h3>
     <div class="body-textarea col-md-12" [innerHTML]="obj.value"></div>
   </span>
 </div>
 <div class="article-sidebar col-md-3">
   <div class="kb-article-opt">
      <button type="button" data-toggle="modal" data-target="#editArticleModal" class="btn btn-primary">Edit</button>
      <button type="button" class="btn btn-primary">Delete</button>
  </div>
   <span class="review_state">Status : <span> {{articleObj.review_state.state}}</span></span>
  <span>
    <h3 class="col-md-12">Document Id:</h3>
    <p class="col-md-12">{{articleObj.id}}</p>
  </span>
  <span>
    <h3 class="col-md-12">Version:</h3>
    <p class="col-md-12">{{articleObj.header.versions}}</p>
  </span>
  <span *ngIf="articleObj.header.ticketId">
    <h3 class="col-md-12">Operating Systems:</h3>
    <p class="col-md-12">{{articleObj.header.operatingSys}}</p>
  </span>
  <span *ngIf="articleObj.header.ticketId">
    <h3 class="col-md-12">Ticket ID:</h3>
    <p class="col-md-12">{{articleObj.header.ticketId}}</p>
  </span>
  <span *ngIf="articleObj.header.jiraId">
    <h3 class="col-md-12">Reference Jira ID:</h3>
    <p class="col-md-12">{{articleObj.header.jiraId}}</p>
  </span>
 </div> 
 <div class="col-md-12 article-footer">
   <span>Created By : <a class="creator-name" href="">{{articleObj.author.name}}</a> - <span class="update-time">{{articleObj.updated_at | date: 'medium'}}</span></span>
 </div>
</div>
</div>

<!-- edit article modal starts -->
<div *ngIf="articleObj" class="modal fade" id="editArticleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    
         <app-edit-article [article] = articleObj (articleChange) = "this.articleObjVal = $event"></app-edit-article>
       
  </div>
  <!-- edit article modal ends -->