.main-header {
    background: #1d2e42;
    height: 75px;
    min-height: 75px;

    .header-content {
        padding: 10px 20px 10px 20px;
        margin-left: 0px;
        .logo-img-cls{
           width:230px;
        }
        .addMenu{
            margin-top: 10px;
            margin-right: 45px;
        
            .nav-link{
                color: #ffffff;
                font-size: 14px;
            }
        }

        ul {
            .userdropdown{
                a{
                    color: #ffffff;
                    font-size: 14px;
                    padding-top: 0px;
                    .iconimg{
                        width: 30px;
                        margin-top: 0px;
                        margin-bottom: 5px;
                    }
                }
               
                
            }
        }
    }
}

.helpcenter-option{
    padding: 10px 20px 0px 0px;
    a{
        color: white;
        font-size: 15px;
        font-weight: 200;
    }
    
}

.disabledListVal {
    pointer-events:none; //This makes it not clickable
    opacity:0.6;         //This grays it out to look disabled
}