<header>
        <app-helpcenter-header></app-helpcenter-header>
    <!-- <div class="unqipad subnavmndiv">
       <div id="spacDiv" style="display: none;">&nbsp;</div>
       <div id="supdiv">
           <div class="row">
               <div class="col-md-2 col-sm-1 "><a href="/hc/en-us/" class="suptext">Support</a></div>
               <div class="col-md-10 col-sm-11 text-right">
                   <div id="navbar">
                       <nav class="navbar" role="navigation">
                           <div class="navbar-header" style="display:none;">
                               <button type="button" id="mobbutton" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1" style="height:auto !important;">
                               <span class="sr-only">Toggle navigation</span>
                               <span class="icon-bar"></span>
                               <span class="icon-bar"></span>
                               <span class="icon-bar"></span>
                               </button>
                           </div>
                           <div class="collapse navbar-collapse " id="navbar-collapse-1">
                               <ul class="nav navbar-nav cusnav navbar-right">
                                   <li class="dropdown">
                                       <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">My Support</a>
                                       <ul class="dropdown-menu subnavbg topmnnavi" id="myinfodetails">
                     <li><a href="/hc/en-us/articles/115005625283">My Dashboard</a></li>
                     <li><a href=" /hc/en-us/requests?output_type=table " id="reqlink">My Requests</a></li>
                     <li><a href=" /hc/contributions/posts?locale=en-us " id="reqlink">My Articles</a></li>
                     <li><a href=" /hc/en-us/subscriptions " id="subslink">My Subscriptions</a></li>
                                           <li><a href="/hc/en-us/profiles/361040981-Administrator" class="myinfonew">My Profile</a></li>
                                           
                                               <li><a href="/hc/en-us/articles/360006729632" id="entitlement">My Entitlement</a></li>
                                           
                                       <li><a href="/hc/en-us/articles/115005882026">My Projects </a></li></ul>
                                   </li>
                                   <li class="dropdown">
                                       <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Knowledge Base</a>
                                       <ul class="dropdown-menu subnavbg topmnnavi" id="knowledgebsecrow">
                                           <li><a href="/hc/en-us/categories/201273823">Help Articles</a></li>
                                           <li><a href="/hc/en-us/categories/201273833">Product Manuals</a></li>
                                           <li><a href="/hc/en-us/categories/201273843">Announcements</a></li>
                                           <li><a href="/hc/en-us/categories/201273883">Support Documentation</a></li>
                                       <li><a href="/hc/en-us/categories/201264926">Agent only </a></li><li><a href="/hc/en-us/articles/115000852106">Create KB Article</a></li></ul>
                                   </li>
                                   <li class="dropdown">
                                       <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Community</a>
                                       <ul class="dropdown-menu subnavbg topmnnavi">
                                           <li><a href="/hc/en-us/community/topics?prodtype=radia">Radia</a></li>
                                           <li><a href="/hc/en-us/community/topics?prodtype=cloudplatform">CloudPlatform</a></li>
                                           <li><a href="/hc/en-us/community/topics?prodtype=cloudportalbusinessmanager">CPBM</a></li>
                     <li><a href="/hc/en-us/community/topics?prodtype=shareinsights">ShareInsights</a></li>
                                       </ul>
                                   </li>
                                   <li class="dropdown">
                                       <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Downloads</a>
                                       <ul class="dropdown-menu subnavbg topmnnavi" id="downloadtopmenu">
                                           <li><a href="/hc/en-us/categories/201273853">Product Downloads</a></li>
                                           <li><a href="/hc/en-us/categories/201258686">Patches</a></li>
                                       <li><a href="/hc/en-us/categories/201273863">Hotfixes</a></li></ul>
                                   </li>
                                   
                                       <li id="partnerTopMnlink" style=""><a href="//support.accelerite.com/hc/en-us/categories/115000078683-Partner-Portal">Partners</a></li>
                                   
                 <li><button class="subrerlink" id="submit_a_request" href="javascript:void(0)" data-toggle="modal" data-target="#subrequestModal">Submit a request</button></li>
                               </ul>
                           </div>
                        
                       </nav>
                   </div>
               </div>
               <div class="cboth"></div>
           </div>
       </div>
   <div class="row">
     <div class="col-md-12">
       <div class="borderline">&nbsp;</div>
     </div>	
   </div>	
   </div> -->
   <div class="main-category-div">
   <div class="downbanbg">
       <div class="row unqipad">
           <div class="padtop100  cat-header-div col-md-12">
             
             <div class="col-md-9 col-xs-13">
               <div class="height50"></div>
               <div *ngIf="category_name" class="hlputextleft">{{category_name}}</div>
               <div class="hgt20">&nbsp;</div>
               <form name="searchfrom" action="/hc/en-us/search" method="GET">
                 <img class="searchhmicon hmsrchicon" src="assets/images/searchicon.png"> 
                 <input type="text" class="hmsearchbox" name="query" placeholder="Search">
               </form>
               <div class="latestdetails">
                   <p> Latest release : 
                       <span><i class="fas fa-download orange"></i> CloudPlatform 4.11</span>
                       <span> <i class="fas fa-download orange"></i> Radia 10</span>
                   </p>
               </div>
             </div>
              <div class="col-md-3 col-xs-3">
                   <h5 style="padding: 0;margin-top: 0;color: #ededed;"> Other links <i class="fas fa-angle-double-right orange"></i></h5>
                   <ul class="nav otherlinks">
                       <li><a href="/hc/communities/public/topics">Community</a></li>
                       <li><a href="/hc/en-us/categories/201273853">Downloads</a></li>
                       <li><a href="/hc/en-us/categories/201273823">Help Article</a></li>
                       <li><a href="/hc/en-us/categories/201273843">Announcements</a></li>
                   </ul>
              </div>
           </div>
     </div>
   </div>
   
 
 
 
</div>
 </header>