<app-main-header></app-main-header>
<div class="row">
<div class="col-lg-3">
    <app-sidebar></app-sidebar>
</div>
<div class="col-lg-9 work-component">
    <div *ngIf ="article_fields_excl" class="form-div col-md-12">
        <div class = "create-form-div col-md-8">
            <div class="col-md-12 form-meta-div">
                    <h4> Article Form : </h4>
                    <form>
                            <div class="form-group">
                              <label for="exampleInputEmail1">Form Name</label>
                              <input type="text" class="form-control" name="formName" id="form-name" [formControl] = 'form_name' placeholder="Enter form name">
                              <span *ngIf="form_name.invalid && (form_name.dirty || form_name.touched)" class="alert alert-danger">

                                <small *ngIf="form_name.errors.required">
                                Name is required.
                                </small>
                                <small *ngIf="form_name.errors.minlength">
                                Form Name must be at least 10 characters long.
                                </small>
                        </span>
                            </div>   
                    </form>   
            </div>
            <div class="col-md-12 form-required-div">
                    <small>Fields in this section cannot be changed</small>
                    <div class=" col-md-12 title-req-field"> 
                            <span class="" >
                                    <i class="fa fa-text-width"></i>
                                    <p> Article Title</p>
                               </span>
                    </div>
                    <div class="  col-md-11">
                               <span>
                                    <i class="fa fa-caret-square-o-down"></i>
                                    <p> Article Section</p>
                               </span>
                    </div>
                    <div class=" col-md-11">
                               <span>
                                    <i class="fa fa-list"></i>
                                    <p> Product Versions</p>
                               </span>
                    </div>
                    <div class=" col-md-11">
                               <span >
                                    <i class="fa fa-list"></i>
                                    <p> Operating Systems</p>
                               </span>
                    </div>
                    <div class=" col-md-11 referenceField">
                            <span >
                                 <i class="fa fa-text-width"></i>
                                 <p> Ticket Id</p>
                            </span>
                 </div>
                 <div class=" col-md-11">
                        <span >
                             <i class="fa fa-text-width"></i>
                             <p>Jira Ticket Id</p>
                        </span>
             </div>
            </div>
            <div class="col-md-12 form-custom-div">
                    <small>Drag fields from the fields section to customise form</small>
     <div cdkDropList  
                #includedList="cdkDropList"
                [cdkDropListData]="article_fields_incl"
                [cdkDropListConnectedTo]="[excludedList]"
                class="example-list"
                 (cdkDropListDropped)="drop($event)">
                    <div class="field-info-div" *ngFor="let field of article_fields_incl" cdkDrag>
                       <span>
                            <i class={{field_type_icon[field.field_type]}}></i>
                            <p> {{field.field_name}}</p>
                       </span>
                </div>
            </div>
            </div>
         
           </div>
           
           <div class="col-md-4 ">
                   <div class="field-list-div ">
                        <h4> Available Fields :</h4>
                        <small>Drag fields you want to the article form</small>
                        <div cdkDropList 
                                #excludedList="cdkDropList"
                                [cdkDropListData]="article_fields_excl"
                                [cdkDropListConnectedTo]="[includedList]"
                                (cdkDropListDropped)="drop($event)">
                                <div class="field-info-div" *ngFor="let field of article_fields_excl" cdkDrag> 
                                        <span>
                                                <i class={{field_type_icon[field.field_type]}}></i>
                                                <p> {{field.field_name}}</p>
                                        </span>
                        </div>
                        </div>
                   </div>
              
           </div>
           <div class="submit-form-div col-md-8">
            <button class="col-md-2" mat-raised-button color="primary" [disabled] = 'form_name.invalid' (click)="updateForm()">Update Form</button>
    </div>
         
    </div>
    
    </div>
    </div>