<app-user-dashboard-header [dashboardType] = '"subscription"' ></app-user-dashboard-header>

<div class="dashdivbg col-md-12">
	<div class="cboth">&nbsp;</div>  
	<div class="text-center dashMnHd col-md-12">My subscriptions</div>  
<div  class="dashdivintbgentit col-md-12" style="background-color: white">
    <div  id="salesContent" style="font-size: 16px;">
        <h3  style="text-align: center;padding-top: 70px;line-height: 40px;padding-bottom: 70px;color: orange;">This page is Under Construction.
            <br > Please write to
            <a  href="mailto:support@accelerite.com">support@accelerite.com</a> for any queries.</h3>
    </div>
</div>
</div>