.article-header-div{
    div{display: inline-block;
        vertical-align: top;}
}

form{
    .searchhmicon{
        margin-top: 20px;
    }
}

.height100{
    height: 100px;
}

.padtop50{
    padding-top: 50px;
}

.disabledListVal {
    pointer-events:none; //This makes it not clickable
    opacity:0.6;         //This grays it out to look disabled
}