<!-- Navigation -->
<div class="topblkbox unqipad" id="fixBox">
	<div class="row">
		<div class="col-md-3 col-sm-3 padtop10">
			<a href="https://accelerite.com/" target="_blank">
				<img src="./assets/images/logo.png" width="210" height="">
			</a>
		</div>
		<div class="col-md-9 col-sm-9 text-right">
			<div class="padtop20">
				<div class="toptext hg27 right padleft35">

					<span class="dropdown language-selector" aria-haspopup="true">
						<a class="dropdown-toggle toprgtlink">&nbsp;&nbsp;English (US)
							<i class="fa fa-angle-down iconsize" style="margin-left: 8px;"></i>
						</a>
						<span class="dropdown-menu dropdown-menu-end dropdown-menu-caret" role="menu" style="margin-top: 8px;margin-right: -13px;margin-left:-20px;">

							<a href="/hc/change_language/fr?return_to=%2Fhc%2Ffr" dir="ltr" rel="nofollow" role="menuitem">Français</a>

							<a href="/hc/change_language/ja?return_to=%2Fhc%2Fja" dir="ltr" rel="nofollow" role="menuitem">日本語</a>

							<a href="/hc/change_language/ko?return_to=%2Fhc%2Fko" dir="ltr" rel="nofollow" role="menuitem">한국어</a>

							<a href="/hc/change_language/pt?return_to=%2Fhc%2Fpt" dir="ltr" rel="nofollow" role="menuitem">Português</a>

						</span>
					</span>

				</div>

				<div class="hg27 right padleftrgt35">
					<a href="#" class="toptext" data-toggle="modal" data-target="#loginModal">Login/Register</a>
				</div>

				<div class="toptext hg27 right padleftrgt35">
					<div>
						<a href="#" data-toggle="modal" data-target="#contactModal" class="toptext">Contact</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<header>
	<div class="unqipad subnavmndiv">
		<div id="spacDiv" style="display: none;">&nbsp;</div>
		<div id="supdiv">
			<div class="row">
				<div class="col-md-2 col-sm-1 ">
					<a href="/hc/en-us/" class="suptext">Support</a>
				</div>
				<div class="col-md-10 col-sm-11 text-right">
					<div id="navbar" class="col-md-12 nopad">
						<nav class="navbar" role="navigation">
							<div class="navbar-header" style="display:none;">
								<button type="button" id="mobbutton" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1" style="height:auto !important;">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
							</div>
							<div class="navbar-collapse " id="navbar-collapse-1">
								<ul class="nav navbar-nav cusnav home-main-navbar">
									<li class="dropdown">
										<a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">My Support</a>
										<ul class="dropdown-menu subnavbg topmnnavi" id="myinfodetails">
											<li>
												<a href="/hc/en-us/articles/115005625283">My Dashboard</a>
											</li>
											<li>
												<a href=" /hc/en-us/requests?output_type=table " id="reqlink">My Requests</a>
											</li>
											<li>
												<a href=" /hc/contributions/posts?locale=en-us " id="reqlink">My Articles</a>
											</li>
											<li>
												<a href=" /hc/en-us/subscriptions " id="subslink">My Subscriptions</a>
											</li>
											<li>
												<a href="/hc/en-us/profiles/361040981-Administrator" class="myinfonew">My Profile</a>
											</li>

											<li>
												<a href="/hc/en-us/articles/360006729632" id="entitlement">My Entitlement</a>
											</li>

											<li>
												<a href="/hc/en-us/articles/115005882026">My Projects </a>
											</li>
										</ul>
									</li>
									<li class="dropdown">
										<a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Knowledge Base</a>
										<ul class="dropdown-menu subnavbg topmnnavi" id="knowledgebsecrow">
											<li>
												<a href="/hc/en-us/categories/201273823">Help Articles</a>
											</li>
											<li>
												<a href="/hc/en-us/categories/201273833">Product Manuals</a>
											</li>
											<li>
												<a href="/hc/en-us/categories/201273843">Announcements</a>
											</li>
											<li>
												<a href="/hc/en-us/categories/201273883">Support Documentation</a>
											</li>
											<li>
												<a href="/hc/en-us/categories/201264926">Agent only </a>
											</li>
											<li>
												<a href="/hc/en-us/articles/115000852106">Create KB Article</a>
											</li>
										</ul>
									</li>
									<li class="dropdown">
										<a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Community</a>
										<ul class="dropdown-menu subnavbg topmnnavi">
											<li>
												<a href="/hc/en-us/community/topics?prodtype=radia">Radia</a>
											</li>
											<li>
												<a href="/hc/en-us/community/topics?prodtype=cloudplatform">CloudPlatform</a>
											</li>
											<li>
												<a href="/hc/en-us/community/topics?prodtype=cloudportalbusinessmanager">CPBM</a>
											</li>
											<li>
												<a href="/hc/en-us/community/topics?prodtype=shareinsights">ShareInsights</a>
											</li>
										</ul>
									</li>
									<li class="dropdown">
										<a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Downloads</a>
										<ul class="dropdown-menu subnavbg topmnnavi" id="downloadtopmenu">
											<li>
												<a href="/hc/en-us/categories/201273853">Product Downloads</a>
											</li>
											<li>
												<a href="/hc/en-us/categories/201258686">Patches</a>
											</li>
											<li>
												<a href="/hc/en-us/categories/201273863">Hotfixes</a>
											</li>
										</ul>
									</li>

									<li id="partnerTopMnlink" class= "dropdown" >
										<a href="//support.accelerite.com/hc/en-us/categories/115000078683-Partner-Portal">Partners</a>
									</li>

									<li>
										<button class="subrerlink" id="submit_a_request" href="javascript:void(0)" data-toggle="modal" data-target="#subrequestModal">Submit a request</button>
									</li>
								</ul>
							</div>
							<!-- /.navbar-collapse -->
						</nav>
					</div>
				</div>
				<div class="cboth"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="borderline">&nbsp;</div>
			</div>
		</div>
	</div>
	<div class="homebg" style="height:100vh">
		<div class="unqipad">
			<div class="hgt150">&nbsp;</div>
			<div class="hlputext">How can we help you today?</div>
			<div class="hgt20">&nbsp;</div>
			<div class="row nopad">
				<div class="offset-sm-2 offset-md-2 col-md-8 col-sm-8" style="padding:0;">
					<form class="form-inline header-search" name="searchfrom" action="/hc/en-us/search" method="GET">
						<img class="searchhmicon hmsrchicon" src="./assets/images/searchicon.png">
						<input type="text" class="hmsearchbox" name="query" placeholder="Search">
					</form>
				</div>
			</div>
			<div class="hgt20">&nbsp;</div>
			<div class="poputext">Popular topics:
				<span class="poputextnorm">Radia, Product manual, Rovius</span>
			</div>
		</div>
	</div>
</header>