<!-- Navigation -->
<div class="topblkbox unqipad" id="fixBox">
	<div class="row">
		<div class="col-md-3 col-sm-3 padtop10">
			<a href="https://accelerite.com/" target="_blank">
				<img src="./assets/images/logo.png" width="210" height="">
			</a>
		</div>
		<div class="col-md-9 col-sm-9 text-right">
			<div class="padtop20">
				<!-- <div class="toptext hg27 right padleft35">

					<span class="dropdown language-selector" aria-haspopup="true">
						<a class="dropdown-toggle toprgtlink">&nbsp;&nbsp;English (US)
							<i class="fa fa-angle-down iconsize" style="margin-left: 8px;"></i>
						</a>
						<span class="dropdown-menu dropdown-menu-end dropdown-menu-caret" role="menu" style="margin-top: 8px;margin-right: -13px;margin-left:-20px;">

							<a href="/hc/change_language/fr?return_to=%2Fhc%2Ffr" dir="ltr" rel="nofollow" role="menuitem">Français</a>

							<a href="/hc/change_language/ja?return_to=%2Fhc%2Fja" dir="ltr" rel="nofollow" role="menuitem">日本語</a>

							<a href="/hc/change_language/ko?return_to=%2Fhc%2Fko" dir="ltr" rel="nofollow" role="menuitem">한국어</a>

							<a href="/hc/change_language/pt?return_to=%2Fhc%2Fpt" dir="ltr" rel="nofollow" role="menuitem">Português</a>

						</span>
					</span>

				</div> -->
				<ng-container *ngIf='userObj; else loginTemplate'>

					<div class="hg27 right user-header-opt">
						<div>
							<h3 class="toptext">{{userObj.name}} </h3>

							<button mat-icon-button [matMenuTriggerFor]="userMenu">
								<i class="fa fa-angle-down iconsize"></i>
							</button>
						</div>

						<mat-menu #userMenu="matMenu">
							<button mat-menu-item>
								<mat-icon>assignment_ind</mat-icon>
								<span>User profile</span>
							</button>
							<button mat-menu-item>
								<mat-icon>textsms</mat-icon>
								<span>Change password</span>
							</button>
							<button mat-menu-item (click)='logoutUser()'>
								<mat-icon>notifications_off</mat-icon>
								<span>Sign out</span>
							</button>
						</mat-menu>
					</div>
				</ng-container>
				<ng-template #loginTemplate>
					<div class="hg27 right user-header-opt padleftrgt35">
						<a href="#" #loginBtnLink class="toptext" data-toggle="modal" data-target="#loginModal">Login/Register</a>
					</div>
				</ng-template>
				<div class="toptext hg27 right padleftrgt35">
					<div>
						<a href="#" data-toggle="modal" data-target="#contactModal" class="toptext">Contact</a>
					</div>
				</div>

				<div *ngIf='isAgent' class="toptext hg27 guideAdminLink padleftrgt35">
					<div>
						<a href="guide/home" target="_blank">Guide Admin</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- START CONTACT POPUP -->
<div id="contactModal" aria-hidden="false" class="modal fade" role="dialog">
	<div class="vertical-alignment-helper">
		<div class="modal-dialog modal-dialog-width55per vertical-align-center">
			<!-- Modal content-->
			<div class="modal-content modal-content-bg">
				<div class="modal-header modal-header-bord">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body modal-body-pad row" style="padding: 0px 60px 30px 60px !important;    margin-bottom: 20px; margin-top: 30px;">
					<div class="col-md-12 contacts-details-div">
						<h1 class="submnhed">
							<img src="./assets/images/contact.svg" style='margin-right:15px;' /> Telephone Support</h1>
						<hr class='popuphr' />
						<div class="cboth">&nbsp;</div>
						<div class="col-md-12 nopad">
							<div class="col-md-6 nopad">
								<div class="left">
									<img src="//p2.zdassets.com/hc/theme_assets/270851/200042364/spain.jpg" class="contdataImg" />
								</div>
								<div class="left cnNmWidth">
									<h5 class="countryNm countypad">Spain</h5>
								</div>
								<div class="left cnNoWidth">
									<h5 class="countryNm"> +34-51888-0092 </h5>
								</div>
							</div>
							<div class="col-md-6 nopad">
								<div class="right">
									<div class="left">
										<img src="//p2.zdassets.com/hc/theme_assets/270851/200042364/france.jpg" class="contdataImg" />
									</div>
									<div class="left cnNmWidth">
										<h5 class="countryNm countypad">France</h5>
									</div>
									<div class="left cnNoWidth">
										<h5 class="countryNm"> +33-975-185-485 </h5>
									</div>
								</div>
							</div>
						</div>
						<div class="hgt40 cboth">&nbsp;</div>
						<div class="col-md-12 nopad">
							<div class="col-md-6 nopad">
								<div class="left">
									<img src="//p2.zdassets.com/hc/theme_assets/270851/200042364/germany.jpg" class="contdataImg" />
								</div>
								<div class="left cnNmWidth">
									<h5 class="countryNm countypad">Germany</h5>
								</div>
								<div class="left cnNoWidth">
									<h5 class="countryNm"> +49-322-2109-3384 </h5>
								</div>
							</div>
							<div class="col-md-6 nopad">
								<div class="right">
									<div class="left">
										<img src="//p2.zdassets.com/hc/theme_assets/270851/200042364/japan.jpg" class="contdataImg" />
									</div>
									<div class="left cnNmWidth">
										<h5 class="countryNm countypad">Japan</h5>
									</div>
									<div class="left cnNoWidth">
										<h5 class="countryNm"> +81-368-635-424 </h5>
									</div>
								</div>
							</div>
						</div>
						<div class="hgt40 cboth">&nbsp;</div>
						<div class="col-md-12 nopad">
							<div class="col-md-6 nopad">
								<div class="left">
									<img src="//p2.zdassets.com/hc/theme_assets/270851/200042364/united_kingdom.jpg" class="contdataImg" />
								</div>
								<div class="left cnNmWidth">
									<h5 class="countryNm countypad">UK</h5>
								</div>
								<div class="left cnNoWidth">
									<h5 class="countryNm"> +44-203-514-1417 </h5>
								</div>
							</div>
							<div class="col-md-6 nopad">
								<div class="right">
									<div class="left">
										<img src="//p2.zdassets.com/hc/theme_assets/270851/200042364/united_states_of_america.jpg" class="contdataImg" />
									</div>
									<div class="left cnNmWidth">
										<h5 class="countryNm countypad">USA</h5>
									</div>
									<div class="left cnNoWidth">
										<h5 class="countryNm"> +1-800-260-4174 </h5>
									</div>
								</div>
							</div>
						</div>
						<div class="hgt40 cboth">&nbsp;</div>
						<div class="col-md-12 nopad">
							<div class="col-md-6 nopad">
								<div class="left">
									<img src="//p4.zdassets.com/hc/theme_assets/270851/200042364/Australia.png" class="contdataImg" />
								</div>
								<div class="left cnNmWidth">
									<h5 class="countryNm countypad">Australia</h5>
								</div>
								<div class="left cnNoWidth">
									<h5 class="countryNm">+61-280466570</h5>
								</div>
							</div>
							<div class="col-md-6 nopad">
								<div class="right">
									<div class="left">
										<img src="#" class="contdataImg">
									</div>
									<div class="left cnNmWidth">
										<h5 class="countryNm countypad">Mexico</h5>
									</div>
									<div class="left cnNoWidth">
										<h5 class="countryNm"> &nbsp; &nbsp; &nbsp; 800-681-8030 </h5>
									</div>
								</div>
							</div>


							<div class="cboth"></div>
						</div>
					</div>
				</div>
				<div class="modal-footer modal-footer-bord modal-footer-pad"></div>
			</div>
		</div>
	</div>
</div>
<div class="unqipad subnavmndiv">
	<div id="spacDiv" style="display: none;">&nbsp;</div>
	<div id="supdiv">
		<div class="row">
			<div class="col-md-2 col-sm-1 ">
				<a href="/hc/en-us/home" class="suptext">Support</a>
			</div>
			<div class="col-md-10 col-sm-11 text-right">
				<div id="navbar" class="col-md-12 nopad">
					<nav class="navbar" role="navigation">
						<div class="navbar-header" style="display:none;">
							<button type="button" id="mobbutton" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1" style="height:auto !important;">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<div class="navbar-collapse " id="navbar-collapse-1">
							<ul class="nav navbar-nav cusnav home-main-navbar">
								<li class="dropdown">
									<a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">My Support</a>
									<ul class="dropdown-menu subnavbg topmnnavi" id="myinfodetails">
										<li>
											<a href="/hc/en-us/articles/115005625283">My Dashboard</a>
										</li>
										<li>
											<a href=" /hc/en-us/requests?output_type=table " id="reqlink">My Requests</a>
										</li>
										<li>
											<a href=" /hc/contributions/posts?locale=en-us " id="reqlink">My Articles</a>
										</li>
										<li>
											<a href=" /hc/en-us/subscriptions " id="subslink">My Subscriptions</a>
										</li>
										<li>
											<a href="/hc/en-us/profiles/361040981-Administrator" class="myinfonew">My Profile</a>
										</li>

										<li>
											<a href="/hc/en-us/articles/360006729632" id="entitlement">My Entitlement</a>
										</li>

										<li>
											<a href="/hc/en-us/articles/115005882026">My Projects </a>
										</li>
									</ul>
								</li>
								<li class="dropdown">
									<a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Knowledge Base</a>
									<ul class="dropdown-menu subnavbg topmnnavi" id="knowledgebsecrow">
										<li>
											<a href="/hc/en-us/categories/201273823">Help Articles</a>
										</li>
										<li>
											<a href="/hc/en-us/categories/201273833">Product Manuals</a>
										</li>
										<li>
											<a href="/hc/en-us/categories/201273843">Announcements</a>
										</li>
										<li>
											<a href="/hc/en-us/categories/201273883">Support Documentation</a>
										</li>
										<li>
											<a href="/hc/en-us/categories/201264926">Agent only </a>
										</li>
										<li>
											<a href="/hc/en-us/articles/115000852106">Create KB Article</a>
										</li>
									</ul>
								</li>
								<li class="dropdown">
									<a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Community</a>
									<ul class="dropdown-menu subnavbg topmnnavi">
										<li>
											<a href="/hc/en-us/community/topics?prodtype=radia">Radia</a>
										</li>
										<li>
											<a href="/hc/en-us/community/topics?prodtype=cloudplatform">CloudPlatform</a>
										</li>
										<li>
											<a href="/hc/en-us/community/topics?prodtype=cloudportalbusinessmanager">CPBM</a>
										</li>
										<li>
											<a href="/hc/en-us/community/topics?prodtype=shareinsights">ShareInsights</a>
										</li>
									</ul>
								</li>
								<li class="dropdown">
									<a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Downloads</a>
									<ul class="dropdown-menu subnavbg topmnnavi" id="downloadtopmenu">
										<li>
											<a href="/hc/en-us/categories/201273853">Product Downloads</a>
										</li>
										<li>
											<a href="/hc/en-us/categories/201258686">Patches</a>
										</li>
										<li>
											<a href="/hc/en-us/categories/201273863">Hotfixes</a>
										</li>
									</ul>
								</li>

								<li id="partnerTopMnlink" class="dropdown">
									<a href="//support.accelerite.com/hc/en-us/categories/115000078683-Partner-Portal">Partners</a>
								</li>

								<li>
									<button 
										class="subrerlink" 
										id="submit_a_request" 
										href="javascript:void(0)" 
										data-toggle="modal" 
										data-target="#subrequestModal"
										(click)="fetchFormData()">
										Submit a request
									</button>
								</li>
							</ul>
						</div>
						<!-- /.navbar-collapse -->
					</nav>
				</div>
			</div>
			<div class="cboth"></div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="borderline">&nbsp;</div>
		</div>
	</div>
</div>
<!-- END CONTACT POPUP-->
<!-- LOGIN/REGISTER POPUP START-->
<div id="loginModal" class="modal fade poplogin" aria-hidden="false">
	<div class="vertical-alignment-helper">
		<div class="modal-dialog modal-dialog-login-width vertical-align-center">
			<!-- Modal content-->
			<div class="modal-content modal-content-bg">
				<div class="modal-header modal-header-bord login-pad">
					<div class="text-right col-md-12">
						<button type="button" class="close-login" data-dismiss="modal">&times;</button>
					</div>
				</div>
				<div class="modal-body nopad">
					<div class="row nopad">
						<div class="col-md-6 nopad text-center" (click)="toggleMode('login')">
							<h1 [ngClass]="{'submnhed': loginMode, 'submnhedgrey': !loginMode}" class="showloginjs">
								<img #loginLink src="./assets/images/loginblueicon.svg" class="padrgt20" />Login</h1>
						</div>
						<div class="col-md-6 nopad text-center" (click)="toggleMode('register')">
							<h1 [ngClass]="{'submnhed': !loginMode, 'submnhedgrey': loginMode}" class="showPointcursor showregisterjs">
								<img #registerLink src="./assets/images/registergreyicon.svg" class="padrgt20" />Register</h1>
						</div>
					</div>
					<div class="cboth hgt20">&nbsp;</div>
					<div class="row nopad">
						<div class="col-md-6 nopad">
							<div [ngClass]="{'logselbg': loginMode, 'lognonselbg': !loginMode}" id="loginbg">&nbsp;</div>
						</div>
						<div class="col-md-6 nopad">
							<div [ngClass]="{'logselbg': !loginMode, 'lognonselbg': loginMode}" id="registerbg">&nbsp;</div>
						</div>
					</div>
					<div class="cboth hgt30">&nbsp;</div>
					<div class="row">
						<!-- START LOGIN POPUP -->
						<ng-container *ngIf="loginMode; else registerMode">
							<div class="col-md-12 padLogin" id="loginDivForm">
								<div id="errorDiv"> </div>
								<form class="request-form" [formGroup]='login_form' id="frmlogin" name="loginfrm" autocomplete=off (ngSubmit)='loginFormSubmit()'>
									<div class="user-input-wrp">
										<input formControlName='email' type="text" class="txtbxWidth" name="email" id="email" value="" required />
										<img class="appendiconeml" src="#" width="22" />
										<span class="floating-label lbl-email">Email</span>
									</div>
									<div *ngIf="login_email.invalid && (login_email.dirty || login_email.touched)" class="alert alert-danger">

										<small *ngIf="login_email.errors.required">
											Email field cannot be empty
										</small>
										<small *ngIf="login_email.errors.email">
											Email format incorrect
										</small>

									</div>
									<div class="hgt25">&nbsp;</div>
									<div class="user-input-wrp">
										<input formControlName='password' type="password" class='txtbxWidth' name="password" id="password" value="" required />
										<img class="appendiconpwd" src="#" width="16" />
										<span class="floating-label lbl-passwords">Password</span>
									</div>
									<div *ngIf="login_password.invalid && (login_password.dirty || login_password.touched)" class="alert alert-danger">

										<small *ngIf="login_password.errors.required">
											Password field cannot be empty
										</small>

									</div>
									<div class="cboth hgt20">&nbsp;</div>
									<div class="text-right">
										<a href="/access/help" target="_blank" class="fgpwdlink">Forgot Password ?</a>
									</div>
									<div class="cboth hgt25">&nbsp;</div>
									<div class="col-md-6 nopadleft inline-display-cls">
										<div id="logincancelbutton">
											<input #modalCancelBtn type="button" class="logcancelbtn" value="Cancel" data-dismiss="modal">
										</div>
									</div>
									<div class="col-md-6 nopadrgt inline-display-cls">
										<div id="loginbutton">
											<input type="submit" class="sublogbtn"  [disabled]="login_form.invalid" id="sub_login">
										</div>
									</div>
									<div class="cboth">&nbsp;</div>
								</form>
								<div *ngIf="authenticationError" class="errmessage-cls">
									<h3 *ngIf="authenticationError">
										Error in Username or password
									</h3>
								</div>
							</div>
						</ng-container>
						<!-- END  LOGIN POPUP -->
						<!-- START REGISTER POPUP -->
						<ng-template #registerMode>
							<div class="col-md-12 padLogin" id="registerDivForm">
								<div id="successmsg"></div>
								<div id="regfrmDiv">
									<form [formGroup]='register_form' class="request-form" id="UserRegForm" (ngSubmit)='registerFormSubmit()'>
										<div class="user-input-wrp">
											<input formControlName='full_name' type="text" name="UserRegForm_name" id="UserRegForm_name" class='txtbxWidth' value=""
											 required>
											<img class="appendiconreg" src="#" width="21" />
											<span class="floating-label">User Full Name</span>
										</div>
										<div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">

											<small *ngIf="name.errors.required">
												Name field cannot be empty
											</small>

										</div>
										<div class="hgt25">&nbsp;</div>
										<div class="user-input-wrp">
											<input formControlName='email' type="email" name="UserRegForm_email" id="UserRegForm_email" class='txtbxWidth' required />
											<img class="appendiconeml" src="#" width="21" />
											<span class="floating-label">Email Address</span>
										</div>
										<div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">

											<small *ngIf="email.errors.required">
												Email field cannot be empty
											</small>
											<small *ngIf="email.errors.email">
												Not a valid email
											</small>
										</div>
										<div class="hgt25">&nbsp;</div>
										<span formGroupName="password_group">
											<div class="user-input-wrp">
												<input formControlName='password' type="password" name="UserRegForm_password" id="UserRegForm_password" class='txtbxWidth'
												 required />
												<img class="appendiconpwd" src="#" width="16" />
												<span class="floating-label">Password</span>
											</div>
											<div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">

												<small *ngIf="password.errors.required">
													Password cannot be empty
												</small>
												<small *ngIf="password.errors.minlength">
													Password length should be minimum 8 characters
												</small>
											</div>
											<div class="hgt25">&nbsp;</div>
											<div class="user-input-wrp">
												<input formControlName='confirm_password' type="password" name="UserRegForm_cpassword" id="UserRegForm_cpassword" class='txtbxWidth'
												 required />
												<img class="appendiconpwd" src="#" width="16" />
												<span class="floating-label">Confirm Password</span>
											</div>
											<div *ngIf="confirm_password.invalid && (confirm_password.dirty || confirm_password.touched)" class="alert alert-danger">

												<small *ngIf="confirm_password.errors.pwdRequired">
													Confirm Password cannot be empty
												</small>
												<small *ngIf="confirm_password.errors.pwdMatch">
													Password does not match confirm Password
												</small>
											</div>
										</span>

										<div class="hgt25">&nbsp;</div>
										<div class="user-input-wrp">
											<input formControlName='phone_number' type="text" name="UserRegForm_phone" id="UserRegForm_phone" class='txtbxWidth' required
											/>
											<img class="appendiconreg" src="#" width="23" />
											<span class="floating-label">Phone Number</span>
										</div>
										<div *ngIf="phone_number.invalid && (phone_number.dirty || confirm_password.touched)" class="alert alert-danger">

											<small *ngIf="phone_number.errors.required">
												Number field cannot be empty
											</small>

										</div>
										<div class="cboth hgt25">&nbsp;</div>
										<div>
											<div class="left">
												<input type="checkbox" value="1" name="reg_agree_term[]" />
											</div>
											<div class="left agreeregtext">I agree and accept the
												<a href='https://support.accelerite.com/hc/en-us/articles/203473150-Accelerite-Data-Privacy-Policy' target='_blank' style="color:#9b9b9b;text-decoration:underline;">Terms and Conditions</a>
											</div>
										</div>
										<div class="cboth hgt25">&nbsp;</div>
										<div class="col-md-6 nopadleft inline-display-cls">
											<div>
												<input type="button" #modalCancelBtnR class="logcancelbtn" value="Cancel" name="reg_cancel" id="reg_cancel">
											</div>
										</div>
										<div class="col-md-6 nopadrgt inline-display-cls">
											<div id="loginbutton">
												<input type="submit" class="sublogbtn" value="Register" name="submit_reg" [disabled]="register_form.invalid" id="register">
											</div>
										</div>

									</form>
									<div class="errmessage-cls">
										<div *ngIf="registrationError">
											<h3>
												Error in registering user	
											</h3>
										</div>
									</div>
								</div>

							</div>
						</ng-template>
						<!-- END  REGISTER POPUP -->
					</div>
				</div>
				<div class="modal-footer modal-footer-bord modal-footer-pad"></div>
			</div>
		</div>
	</div>
</div>

<!-- LOGIN/REGISTER POPUP ENDS HERE -->
<!-- LOGIN/REGISTER POPUP ENDS HERE -->

<!-- select form modal -->
<div id="subrequestModal" aria-hidden="true" class="modal fade" role="dialog" style="opacity: 1; display: none;">
	<div class="vertical-alignment-helper">
	  <div class="modal-dialog modal-dialog-width55per vertical-align-center">
		<!-- Modal content-->
		<div class="modal-content modal-reqcontent-bg">
		  <div class="modal-header modal-header-bord">
			<button type="button" class="closesubreq" data-dismiss="modal">×</button>
		  </div>
		  <div class="modal-body modal-body-pad">
			<h1 class="subreqHd">
				<img src="./assets/images/select-form-icon.svg" style="margin-right:20px;">
				Select a product
			</h1>
			<hr class="popuphr">
			<div *ngIf="ticketForms" class="col-md-12 nopad" id="requestContent">
				<div *ngFor="let form of ticketForms" class="col-md-6 col-sm-12">
				<div class="centerBlock">
					<a href="/hc/en-us/tickets/create/form/id/{{form.id}}" class="reqboxlink" target="_blank">
				<div class="logo_regbox">
				<img height="60" src="./assets/images/{{form_logos[form.id]}}" width="153">
				<h3>{{form.end_user_name}}</h3>
				</div>
				</a>
				</div>
				</div>
<div class="cboth">&nbsp;</div>
<div class="cboth">&nbsp;</div>
</div>
		  </div>
		  <div class="modal-footer modal-footer-bord modal-footer-pad"></div>
		</div>
	  </div>
	</div>
  </div>