.home-main-navbar{
    display: flex;
    flex-direction: row;
    float: right;
li.dropdown{
    padding-top: 10px;
    ul {
        position: absolute;
        margin-top: 7px;
        li{
           
            a{
                display: block;
            }
        }
        
    }
}
}

.user-header-opt{
    margin-bottom: 10px;
    span{
        display: inline-block;
        vertical-align: top;
        .toptext{
            padding-top: 4px;
            display: inline;
            vertical-align: top;

        }
        button{
            display: inline-block;
            vertical-align: top;
            i{
                padding-bottom: 12px;
            }
        }
    }

    mat-menu{
        button{
            mat-icon{
                margin-top: 0px;
            }
        }
    }

    
}