.user-header-opt{
    margin-bottom: 10px;
    div{
        display: inline-block;
        vertical-align: top;
        .toptext{
            padding-left: 20px;
            
            padding-top: 4px;
            display: inline;

        }
        button{
            display: inline-block;
            vertical-align: top;
            i{
                padding-bottom: 12px;
            }
        }
    }

    mat-menu{
        button{
            mat-icon{
                margin-top: 0px;
            }
        }
    }

    
}

.home-main-navbar{
    display: flex;
    flex-direction: row;
    float: right;
li.dropdown{
    padding-top: 10px;
    ul {
        position: absolute;
        margin-top: 7px;
        li{
           
            a{
                display: block;
            }
        }
        
    }
}
}
.contacts-details-div{
    div{
        display: inline-block;
    }
}

.close-login{
    padding-top: 10px;
}

.guideAdminLink{
    display: inline-block;
    padding-right: 0px;
    div{
        a{
            color: white;
        }

        a:hover{
            text-decoration: none;
        }
    }
}