.user-header-opt{
    margin-bottom: 10px;
    div{
        display: inline-block;
        vertical-align: top;
        .toptext{
            padding-left: 20px;
            
            padding-top: 4px;
            display: inline;

        }
        button{
            display: inline-block;
            vertical-align: top;
            i{
                padding-bottom: 12px;
            }
        }
    }

}

    .mat-menu-item{
        outline: none;
        mat-icon{
            margin-top: 0px;
        }
    }

    .mat-icon-button{
        width: 20px;
        line-height: 20px;
    }

.home-main-navbar{
    display: flex;
    flex-direction: row;
    float: right;
li.dropdown{
    padding-top: 10px;
    ul {
        position: absolute;
        margin-top: 7px;
        li{
           
            a{
                display: block;
            }
        }
        
    }
}
}
.contacts-details-div{
    div{
        display: inline-block;
    }
}

.close-login{
    padding-top: 10px;
}

.guideAdminLink{
    display: inline-block;
    padding-right: 0px;
    div{
        a{
            color: white;
        }

        a:hover{
            text-decoration: none;
        }
    }
}

.errmessage-cls{
    h3{
        font-size: 15px;
        color: red;
    }
}

#subrequestModal{
  .col-md-6.ng-star-inserted {
      display: inline-block;
  }
}

button.closesubreq {

    float: right !important;
    opacity: 1 !important;
    font-size: 33px;
    box-shadow: none !important;
    padding: 15px 10px 0 10px;
    margin-top: -5px !important;
    color: #9B9B9B;
    font-weight: 500;
    border: 0;
}

.disabledListVal {
    pointer-events:none; //This makes it not clickable
    opacity:0.6;         //This grays it out to look disabled
}