<app-ticket-request-header></app-ticket-request-header>
<div class="create-req-body">
  <div class="unqipad catcontbg">
    <div class="hgt34 cboth">&nbsp;</div>
    <div class="row">
      <div class="offset-md-1 col-md-10 ">
        <div class="whtbg">
          <ng-container *ngIf="ticket_form_fields">
              <app-dynamic-request-form [request_form_config] = "ticket_form_fields"> </app-dynamic-request-form>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="hgt34 cboth">&nbsp;</div>
  </div>

</div>
<app-helpcenter-footer></app-helpcenter-footer>