<header>
    <app-helpcenter-header></app-helpcenter-header>
    <div class=" subreqbanbg">
        <div class="req-header-div unqipad"> 
          <div class="padtop125"></div>
            <div class="header-option col-md-3 col-xs-13">
              <div class="logo_box">
                <img src="//theme.zdassets.com/theme_assets/270851/6c8408e7cb17faaa08bf0110b9b57bb32e9c1afc.png" id="subregimg">
              </div>
            </div>
            <div class="header-option col-md-9 col-xs-13">
              <div class="hlputextleft">Support Request</div>
              <div class="hgt20">&nbsp;</div>
              <form name="searchfrom" action="/hc/en-us/search" method="GET">
                <img class="searchhmicon hmsrchicon" src="//theme.zdassets.com/theme_assets/270851/cc9dee3338e286beed9573c5ce0c5c4c4a5b5f24.svg"> 
                <input type="text" class="hmsearchbox" name="query" placeholder="Search">
              </form>
              <div class="other-links">
                <ul class="navotherlinks">
                  <li><a href="/hc/en-us/requests?output_type=table" target="_blank">My Requests</a></li>
                  <li><a href="/hc/en-us/requests/organization" target="_blank">My Organization Requests</a></li>
                  <li><a href="/hc/en-us/categories/201273823" target="_blank">Knowledge Base</a></li>
                  <li><a href="/hc/en-us/categories/201273883" target="_blank">Support Documentation</a></li>								
                </ul>
              </div>
            </div>
          </div>
        </div>
</header>