.articlecont{
    padding: {
        top: 30px;
        bottom: 30px;
        left:30px;
        right:30px;
    }
}

.height100{
    height: 100px;
}

.docsSection{
    margin-right: 150px;
    display: inline-table;
    .col-md-3{
        display: inline-block;
    }   
   }