<div class="article-forms-header col-md-12" >
    <div class="head-title-div col-md-12">
    <h1>Article Forms</h1>
    <p>Article forms contain list of form models created using article forms<br>
        Add and manage article forms to create customised knowledge base articles based on requirements.</p>
    </div>
    <div class="header-controls-div col-md-12">
        <div class="search-div col-md-8">
            <input [(ngModel)] = "searchString" placeholder="Search article forms"  />
            
        </div>
        <div class="create-div col-md-4">
                <a routerLink='/article/form/create' class="btn btn-info">Add Article Form </a>
        </div>

    </div>
    <!-- <span *ngIf="ticketforms | searchField:searchString"></span> -->
    <div *ngIf="dataSource | searchArticleForm:searchString : articleForms" class="forms-body-div col-md-12">
                    <!--- Note that these columns can be defined in any order.
                          The actual rendered columns are set as a property on the row definition" -->
                  
                    <!-- Position Column -->
                    <div class="mat-elevation-z8 col-md-12">
                            <table class="col-md-12" mat-table [dataSource]="dataSource">
                          
                              <!-- Position Column -->
                              <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef> Form Name </th>
                                <td mat-cell *matCellDef="let form"><i class="fa fa-list-alt icon-class" aria-hidden="true"></i>  {{form.name}} <span *ngIf="form.default_form==true" class="badge badge-secondary default-badge">Default</span> </td>
                              </ng-container>
                          
                              <ng-container matColumnDef="id">
                                <th mat-header-cell *matHeaderCellDef> Form Id</th>
                                <td mat-cell *matCellDef="let form"> {{form.id}}</td>
                              </ng-container>

                              <!-- Symbol Column -->
                              <ng-container matColumnDef="created_at">
                                <th mat-header-cell *matHeaderCellDef> Created At </th>
                                <td mat-cell *matCellDef="let form"> {{form.created_at | date}} </td>
                              </ng-container>
                              
                              <ng-container matColumnDef="edit">
                                <th mat-header-cell *matHeaderCellDef> </th>
                                <td mat-cell *matCellDef="let form"> <button  (click) = "editArticleForm(form.id)"><i class="fa fa-pencil" aria-hidden="true"></i></button> </td>
                              </ng-container>

                              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>
                          
                            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                          </div>
    </div>
</div>
