<div class="col-md-12">
        <div class="edit-category-div">
                <form class="edit-category-form" [formGroup] = 'category_form'  (ngSubmit)="onSubmitForm()">
                    <div class = "category-name-div col-md-10">
                        <h5>Name</h5>
                        <mat-form-field class="" appearance="outline">
                                <input formControlName = "name" matInput placeholder="Enter Category Name">
                            </mat-form-field>
                    </div>
                    <div class="col-md-10">
                        <h5>Description</h5>
                        <mat-form-field class="" appearance="outline">
                                <textarea formControlName = "description" matInput  
                                          cdkTextareaAutosize
                                          #autosize="cdkTextareaAutosize"
                                          cdkAutosizeMinRows="12"
                                          cdkAutosizeMaxRows="20"
                                          placeholder="Category Description"></textarea>
                            </mat-form-field>
                    </div>
                    <div class="edit-category-footer col-md-10">
                        <button type="submit" class="btn btn-default"> Edit Category</button>
                    </div>
                </form>
    
        </div>
    </div>