<div class = "form-fields-list offset-md-2 col-md-8">


<div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">

  <div class="article-body-attr col-md-12" *ngFor="let field of article_fields" cdkDrag>
  
      <label for="comment">{{field.field_name}}:</label>
      <textarea class="form-control" rows="2" id={{field.field_name}}>Text Area for field : {{field.field_name}}</textarea>


   </div>
  
   
</div>
</div>

<div cdkDropList class="example-list" (cdkDropListDropped)="drop1($event)">
  <div class="example-box" *ngFor="let movie of movies" cdkDrag>{{movie}}
<div > <p>test ting {{movie}} </p></div>

  </div>
</div>