<div class="article-fields-header offset-md-2 col-md-10" >
    <div class="head-title-div col-md-12">
    <h1>Article Fields</h1>
    <p>Article fields contain all article data, such as title, description, and body. <br>
        Add and manage article fields to customize your article forms to create customised knowledge base articles.</p>
    </div>
    <div class="header-controls-div col-md-12">
        <div class="search-div col-md-6">
            <input [(ngModel)] = "searchString" placeholder="Search article fields" />
            
        </div>
        <div class="create-div col-md-6">
                <a routerLink='/article/create-fields' class="btn btn-info">Add Field </a>
        </div>

    </div>
    <div class="fields-body-div">
            <h1 *ngFor="let user of users">{{user.name | searchField: searchString }}</h1>
    </div>
</div>
