.article-fields-header{
  margin-bottom: 20px;

  .head-title-div{
    padding: 15px 10px 15px 10px;
    h1 {
      font-size: 30px;
      margin-bottom: 10px;
    }
  
    p{
      font-size: 15px;
    }

  }
 
}