
.changePwdComponentDiv{
    text-align: center;
}

.changePwdHeader{
    width: 100%;
    padding: 10px 0 30px 0;
    h1{
        border-bottom: 1px solid #332a2a1a;
    }
}
.formDiv{
    border: 3px solid #dcd7d7;
    border-radius: 8px;
    margin-left: 40.5%;
    padding: 10px 20px 15px 20px;

    label{
        float: left;
        margin-bottom: 10px;
    }

    input{
        margin-bottom: 10px;
    }

    .titlePwdFrm{
        margin: {
            top: 25px;
            bottom: 25px;
        }


    
    }

    .controls{
        button {
            color: white;
            background-color: #333435;
            border-color: #333435; 
            border-radius: 5px;
            margin-top: 15px;
        }
    }
}