<div class="changePwdDiv row">
    <div class="col-md-12">
        <h1> Persistent </h1>
    </div>
<div class="offset-md-4 col-md-4">
<div class="changePwdFormDiv col-md-10">

    <h2 class="title">Change password</h2>

    <form id="password-change-form" autocomplete="off" class="box box_form" action="https://accelerite.zendesk.com/password/update"
        accept-charset="UTF-8" method="post">
        <label for="current_password">Current password</label>
        <input type="password" name="current_password" id="current_password">

        <label for="new_password">New password</label>
        <input type="password" name="new_password" id="new_password" value="" class="validate_password">
        <div class="controls">
            <input type="submit" name="commit" value="Change password" class="button primary">
        </div>
    </form>
</div>
</div>
</div>
