

.non-home-page{
    height: 50vh;
}

.hlputext-non-home{
    padding-top: 0px;
}

.poputextnorm { 
    font-size: 18px; 
    color: #ffffff; 
    font-weight: normal; 
    text-align:center;  
    a {
        color: white
    }

}
