// colors
$acceleriteBlue : #388ecf;
$createArticleBackCol: rgb(0, 188, 212);
// padding sizes 
$pad-zero: 0px !important;
$pad-five: 5px;
$pad-ten: 10px;
$submit-btn-color: #00bcd4;

.form-div{
    div{
        display: inline-grid;
    }
    .create-form-div{
         border: 1px solid grey;
         padding-top: 10px;
         padding-bottom: 10px;
         
         div{
             display: inline-grid;
         }
     }
}


.field-list-div{
    margin: 10px 0px 10px 0px;
    border: 1px solid grey;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 0px;

    h4{
        padding-left: 10px;
    }
    small{
        padding-left: 10px;
    }
}
.field-info-div{
    
    border: 1px solid grey;
    margin: 5px 10px 5px 10px;
    width: 90%;
    
    span{
        padding-top: 5px;
        p{
            margin-left:40px;
            display: inline-grid;
            position: relative;
            top: -3px;
            font-size: 20px;
            margin-bottom: 0px;
        }
        i{
            display: inline-grid;
            font-size: 25px;
            margin-left: 10px;
        }
    }
    
}

.form-name-field{
    height: 10%;
}

.form-required-div{
    border-top: 1px grey dotted;
    border-bottom: 1px grey dotted;
    display: grid;
    grid-template-columns: auto auto auto;
    padding-top:20px;
    padding-bottom: 20px;
    .title-req-field{
        grid-column-start: 1;
        grid-column-end: 4;
    }
    small{
        grid-column-start: 1;
        grid-column-end: 3;
        float: right;
    }
   
    div{
        border: 1px solid grey;
        margin: 5px 10px 5px 10px;
        
        display: inline-grid;
        span{
            display: inline-grid;
            grid-template-columns: 10% 90%;

            margin-top: 2px;
            p{
                display: inline-grid;
                margin: 5px 0px 5px 20px;
            }
            i{
                padding-top: 5px;
                font-size: 20px;
            }
        }
        
    }
    
}

.submit-form-div{
    justify-items: end ;
    padding-bottom: 10px;
    padding-top: 10px;
    
    // display: flex;
    button{
        // text-align: right;
        background: $submit-btn-color;
        float: right;
    }
}

.form-custom-div{
    border-top: 1px grey dotted;
    border-bottom: 1px grey dotted;
    grid-template-columns: auto auto auto;
    padding-top:15px;
    padding-bottom: 50px;
    small{
        grid-column-start: 1;
        grid-column-end: 4;
    }
    div{
        grid-column-start: 1;
        grid-column-end: 4;
        padding-top:3px;
        padding-bottom:3px;
        margin-left: 5px;
    }
}